.admin-dashboard.admin-cmspage{padding: 15px 15px;background: #eeeeee;height:auto;min-height:100%;}
.admin-dashboard.admin-cmspage .pages-container{padding: 15px; background-color: #ffffff; }
.admin-dashboard.admin-cmspage .pages-container h2{ border-bottom: 1px solid #ececed; color: #4A154B; font-size: 18px; padding-bottom: 15px;  margin: 0 -15px;  padding: 0 15px 15px;}
.admin-dashboard.admin-cmspage .pages-container .filter_layout{ display: inline-block; width: 100%; margin: 10px 0;}
.admin-dashboard.admin-cmspage .pages-container .filter_layout .filter_layout_input{width:100%;}
.admin-dashboard.admin-cmspage .pages-container .filter_layout .filter_button_layout{float: right;margin-top: 20px;}
.admin-dashboard.admin-cmspage .pages-container .filter_layout .filter_layout_input{float: left;}
.admin-dashboard.admin-cmspage .pages-container .filter_layout .filter_button_layout button{margin-left: 10px;background: #4A154B;color: #fff;}
.admin-dashboard.admin-cmspage .pages-container .table-box { padding: 0px; border: 1px solid #dfe2e5; box-shadow: none; }
.admin-dashboard.admin-cmspage table{width: 100%;}
.admin-dashboard.admin-cmspage .mat-header-cell {font-size: 14px; font-weight: bold;  height: 56px;  border-bottom-width: 1px;border-bottom-style: solid; color: #41454b; border-bottom-color: rgba(0,0,0,.12);min-width:120px;}
.admin-dashboard.admin-cmspage mat-cell:first-child{padding-left: 24px;font-size: 14px;font-weight: bold;height: 56px;border-bottom-width: 1px;border-bottom-style: solid;color: #41454b;border-bottom-color: rgba(0,0,0,.12);}
.admin-dashboard.admin-cmspage .chatroom-table-container { margin-top:20px;}
.admin-dashboard.admin-cmspage .chatroom-table-container .chatroom-table { width:100%; }
.admin-cmspage th.mat-header-cell, .admin-cmspage td.mat-cell {padding-left:24px !important;}
.admin-dashboard.admin-cmspage mat-cell:last-child{padding-left: 0px;font-size: 14px;font-weight: bold;height: 56px;border-bottom-width: 1px;border-bottom-style: solid;color: #41454b;border-bottom-color: rgba(0,0,0,.12);}
:host /deep/ .admin-dashboard.admin-cmspage .pages-container .filter_layout .filter_layout_input .mat-form-field-flex { display: inline-flex;align-items: baseline;box-sizing: border-box; width: 100%;border: 1px solid #ddd;border-radius: 30px;padding: 0px 15px;    height: 37px;    margin-top: 20px;-webkit-box-shadow: 0px 0px 25px 0px rgba(128,128,128,0.5); -moz-box-shadow: 0px 0px 25px 0px rgba(128,128,128,0.5); box-shadow: 0px 0px 25px 0px rgba(128,128,128,0.5);}
:host /deep/ .filter_layout_input .mat-form-field-appearance-legacy .mat-form-field-underline{display: none;}
:host /deep/ .filter_layout_input .mat-form-field-appearance-legacy .mat-form-field-infix { padding: 3px 0; margin-top: -11px; }
:host /deep/ .filter_layout_input input.mat-input-element { margin-top: 4px; }
button.mat-icon-button { background: #4A154B; color: #fff; }

@media (max-width: 1400px)
{
.filter_layout_input .mat-form-field { width: 100%; font-size: 12px;}
.admin-dashboard.admin-cmspage .pages-container .filter_layout .filter_button_layout button {padding: 0 10px;}
}

@media (max-width:1199px)
{
.admin-dashboard.admin-cmspage .pages-container .filter_layout .filter_button_layout button { font-size: 12px;padding: 0 10px;min-width: auto;}
.admin-dashboard.admin-cmspage .pages-container .filter_layout .filter_button_layout button .material-icons { font-size:16px;}
}
:host /deep/ .filter_layout_input input.mat-input-element {
    margin-top: 4px;
}
.no-results{text-align: center;padding-top: 30px;}

@media(min-width: 992px) and (max-width: 1199px)
{
.admin-dashboard.admin-cmspage .pages-container .table-box{overflow:auto;}
.admin-dashboard.admin-cmspage .pages-container .table-box table{width: 1000px;}
.admin-dashboard.admin-cmspage .pages-container .filter_layout .filter_layout_input {
    float: none;
    text-align: center;
}
}

@media(min-width: 768px) and (max-width: 991px)
{
.admin-dashboard.admin-cmspage .pages-container .table-box{overflow:auto;}
.admin-dashboard.admin-cmspage .pages-container .table-box table{width: 1000px;}
.admin-dashboard.admin-cmspage .pages-container .filter_layout .filter_button_layout button {margin-left: 10px;background: #4A154B;color: #fff;margin-bottom: 10px;}
}

@media (max-width:991px)
{
.admin-dashboard.admin-cmspage .pages-container .filter_layout .filter_button_layout { width:100%; text-align: center; }
}

@media(max-width: 767px)
{
.admin-dashboard.admin-cmspage .pages-container .table-box{overflow:auto;}
.admin-dashboard.admin-cmspage .pages-container .table-box table{width: 1000px;}
.admin-dashboard.admin-cmspage .pages-container .filter_layout .filter_layout_input {float: none;text-align: center;}
.admin-dashboard.admin-cmspage .pages-container .filter_layout .filter_button_layout {float: none;margin-top: 0px;text-align: center;margin-bottom: 20px;}
.admin-dashboard.admin-cmspage .pages-container .filter_layout .filter_button_layout button {margin-left: 10px;background: #4A154B;color: #fff;margin-bottom: 10px;}
}