.category_mainwrap .breadcrumb_wrap { background-color: #4A154B; padding: 35px 0; } 
.category_mainwrap .breadcrumb_wrap h4 { font-size: 32px; font-family: 'HelveticaNeue-Medium'; color: #fff; text-transform: capitalize; margin: 0; }
.setup-payment-container { background-color: #fff; height: auto; box-shadow: 0px 0px 20px #dcdcdc; border-radius: 10px; padding: 36px 40px; display: inline-block; width: 100%; }
.payment-fulldesc .setup-payment-details { padding: 35px 0; }
button.mat-button { background-color: #4A154B; font-family: 'HelveticaNeue'; font-size: 15px; color: #fff; border-radius: 4px; text-transform: capitalize;margin-right:15px;}
.content-section label { width:100%;}
.setup-payment-container .form-group {margin-bottom:0; position: relative;}
.text-danger { position: absolute;bottom:5px;}
.setup-bank-details { margin:20px 0; }
.account-info { margin:10px 0;}
.setup-payment-container .form-group.anchor-tag { margin-bottom:20px;}
.setup-bank-details p { margin-bottom:0px;}
.setup-bank-details h6 { margin-top:10px;}
:host /deep/ .mat-form-field { width:100%; }
:host /deep/ .mat-form-field-appearance-outline .mat-select-arrow-wrapper { position: relative; top:6px; }
:host /deep/ .mat-form-field-appearance-outline .mat-form-field-infix { padding: 1em 0 1em 0;}