<div>
    <div class="model_main"> 
      <div class="modal-header">
        <h4 class="modal-title">{{popupTitle}} Employment</h4>
        <button (click)="onclickcancel()"><mat-icon>close</mat-icon></button>
      </div>
      <form [formGroup]="editEmpForm">
      <div class="modal-body">      
        <div class="profile-leftblock">        
          <div>
            <div class="form-group">
                <label>Company</label>
                <input class="form-control" formControlName="organization">
                <div class="text-danger text-left small" *ngIf="errorMsg">{{geterrorMsg('organization') || this.errorMsgArr['organization']}}</div>
            </div>
            <div class="form-group">
                <label>Location</label>
                <input class="form-control" formControlName="location">
                <div class="text-danger text-left small" *ngIf="errorMsg">{{geterrorMsg('location') || this.errorMsgArr['location']}}</div>
            </div>
            <div class="form-group">
                <label>Country</label>
                <ng-select formControlName="country" [items]="country" bindLabel="name" bindValue="code">
                  <ng-template ng-label-tmp let-item="item" let-clear="clear">
                    {{item.name}}
                    <span class="ng-value-icon right" (click)="clear(item); $event.stopPropagation()" aria-hidden="true">×</span>
                  </ng-template>
                </ng-select>
                <!-- <mat-select placeholder="Select Country" formControlName="country" [(ngModel)]="selectedCountry">
                    <mat-option *ngFor="let country of country;" [value]="country.code">
                        {{ country.name }}
                    </mat-option>
                </mat-select> -->
                <div class="text-danger text-left small" *ngIf="errorMsg">{{geterrorMsg('country') || this.errorMsgArr['country']}}</div>
            </div>
            <div class="form-group">
                <label>Title</label>
                <input class="form-control" formControlName="title">
                <div class="text-danger text-left small" *ngIf="errorMsg">{{geterrorMsg('title') || this.errorMsgArr['title']}}</div>
            </div>
            <div class="form-group">
                <label>Role</label>
                  <mat-select formControlName="role" [(ngModel)]="selectedRole">
                      <mat-option value='' selected disabled>Please select</mat-option>
                      <mat-option value='intern'>Intern</mat-option>
                      <mat-option value='indivual'>Indivual Contributor</mat-option>
                      <mat-option value='lead'>Lead</mat-option>
                      <mat-option value='manager'>Manager</mat-option>
                      <mat-option value='executive'>Executive</mat-option>
                      <mat-option value='owner'>Owner</mat-option>
                  </mat-select>
                <div class="text-danger text-left small" *ngIf="errorMsg">{{geterrorMsg('role') || this.errorMsgArr['role']}}</div>
            </div>
            <div class="form-group">
                <label>Period</label>
                <div>
                  <mat-select placeholder="From" formControlName="year_from" [(ngModel)]="selectedYearForm">
                      <mat-option *ngFor="let formyear of formyears;" [value]="formyear.value">
                          {{ formyear.name }}
                      </mat-option>
                  </mat-select>
                  <div class="text-danger text-left small" *ngIf="errorMsg">{{geterrorMsg('year_from') || this.errorMsgArr['year_from']}}</div>
                </div>
                <div *ngIf="year_to_display">
                    <mat-select placeholder="To" formControlName="year_to" [(ngModel)]="selectedYearTo">
                        <mat-option *ngFor="let toyear of toyears;" [value]="toyear.value">
                            {{ toyear.name }}
                        </mat-option>
                    </mat-select>
                    <div class="text-danger text-left small" *ngIf="errorMsg">{{geterrorMsg('year_to') || this.errorMsgArr['year_to']}}</div>
                </div>                
            </div>
            <div class="form-group">
                <mat-checkbox class="example-margin" (change)="presentchecked($event)" formControlName="currently_working_here">I currently work here</mat-checkbox>
            </div>
            <div class="form-group">
                <label>Description (optional)</label>
                <textarea class="form-control" formControlName="description"></textarea>
            </div>            
          </div>
        </div>
      </div>
      <div>
        <button class="save-btn" (click)="saveEditEmp(editEmpForm.value)">Save</button>
        <button class="cancel-btn" (click)="onclickcancel()">Cancel</button>
      </div>
    </form>
    </div>
  </div>
