<div>
  <div class="model_main"> 
    <div class="modal-header">
      <h4 class="modal-title">Video</h4>
      <button (click)="onclickcancel()"><mat-icon>close</mat-icon></button>
    </div>
    <div class="modal-body">      
      <div class="profile-leftblock video_popup_blk">        
        <div *ngIf="is_video;else novideo;">
            <iframe width="520" height="360" [src]="video_url" frameborder="0" allowtransparency="true" allowfullscreen class="video_blk"></iframe>
        </div>
        <ng-template #novideo>No video uploaded</ng-template>
      </div>
    </div>
  </div>
</div>
