/*Category page css*/
::ng-deep .mat-pseudo-checkbox.mat-pseudo-checkbox-checked, .mat-pseudo-checkbox.mat-pseudo-checkbox-indeterminate{ background-color:#4A154B; }*{font-family: 'HelveticaNeue';}
* i{font: normal normal normal 14px/1 FontAwesome;}
* span.fa{font: normal normal normal 14px/1 FontAwesome;}
.category_mainwrap input::-webkit-input-placeholder { color: #b5b8b8!important; }
.category_mainwrap input:-moz-placeholder { color: #b5b8b8!important; }
ul{margin:0;padding: 0;}
li{list-style: none;}
.postjob-inner.postjob-three .text-danger { top:0; }
.postjob-inner.postjob-three .form-group.radio-style .ng-star-inserted{ margin-bottom:5px; }
.category_mainwrap .breadcrumb_wrap{background-color: #4A154B;padding: 35px 0;}
.category_mainwrap .breadcrumb_wrap h4{font-size: 32px;font-family: 'HelveticaNeue-Medium';color: #fff;text-transform: capitalize;margin:0;}
.category_mainwrap .search-category{float: right;}
.category_mainwrap .search-category span.form-icon{position: absolute;height: 100%; background: transparent; width: 40px; text-align: center; padding-top: 10px;padding-left: 4px;color: #4A154B;cursor: pointer;}
.category_mainwrap .search-category input.form-control{height: 45px;border-radius: 30px;padding-left: 40px;font-family: 'HelveticaNeue';font-size: 16px;color: #3d3d3d;letter-spacing: 1px;line-height: 45px;}
.category_mainwrap .postjob-details{padding: 55px 0;}
.category_mainwrap .postjob-details .postjob-inner{background-color: #fff;width: 100%;-webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35); box-shadow: 0 1px 6px rgba(57,73,76,0.35);padding-bottom: 25px;margin-bottom: 20px;}
.category_mainwrap .postjob-details .postjob-inner h5{padding: 25px;margin: 0;font-family: 'HelveticaNeue-Medium';font-size: 20px;text-transform: capitalize;border-bottom: 1px solid #ddd;}
.category_mainwrap .postjob-details .postjob-inner .content-section{padding: 20px 30px;}
.category_mainwrap .postjob-details .postjob-inner .content-section .form-group label{width: 100%;}
.category_mainwrap .postjob-details .postjob-inner .content-section.steptwo-section{width: 70%;display: inline-block;}
:host /deep/ .steptwo-section .mat-radio-label { cursor: pointer; display: inline-flex; align-items: center; white-space: nowrap; vertical-align: middle; box-shadow: 0px 1px 30px #cccbcb;line-height: 46px;width: 100%;    display: inline-block; text-align: center;border-radius: 7px;    padding: 3px 32px;    color: rgb(101, 101, 101);text-transform: uppercase;font-family: 'HelveticaNeue-Medium';font-size: 13px;text-decoration: none; }
:host /deep/ .steptwo-section .mat-radio-checked .mat-radio-label {background-color: #4A154B;color: #fff;}
:host /deep/ .steptwo-section .mat-radio-label .mat-radio-container{opacity: 0;display: none;}
:host /deep/ .steptwo-section .mat-radio-button { display: inline-block; width: 49%; margin-bottom: 15px; padding: 0 15px 0 0px; }
:host /deep/ .steptwo-section .mat-radio-button:last-child { margin-bottom: 15px;padding: 0 0px 0 0px;width: 47%; }
:host /deep/ .radio-style .mat-radio-label { cursor: pointer; display: inline-flex; align-items: center; white-space: nowrap; vertical-align: middle; box-shadow: 0px 1px 30px #cccbcb;line-height: 46px;width: 100%; display: inline-block; text-align: center;border-radius: 7px; padding: 3px 32px; color: rgb(101, 101, 101);text-transform: uppercase;font-family: 'HelveticaNeue-Medium';font-size: 13px;text-decoration: none; }
:host /deep/ .radio-style .mat-radio-checked .mat-radio-label {background-color: #4A154B;color: #fff;}
:host /deep/ .radio-style .mat-radio-label .mat-radio-container{opacity: 0;display: none;}
:host /deep/ .radio-style .mat-radio-button { display: inline-block; width: 24%; margin-bottom: 15px; padding: 0 15px 0 0px; }
:host /deep/ .radio-style .mat-radio-button:last-child { margin-bottom: 15px; padding: 0 0px 0 0px; }
:host /deep/ .radio-style .mat-checkbox-label {cursor: pointer; display: inline-flex;align-items: center;white-space: nowrap;vertical-align: middle;box-shadow: 0px 1px 30px #cccbcb;line-height: 46px;width: 100%;    display: inline-block;text-align: center;border-radius: 7px;    padding: 3px 32px;    color: rgb(101, 101, 101);text-transform: uppercase;font-family: 'HelveticaNeue-Medium';font-size: 13px;text-decoration: none;}
:host /deep/ .radio-style .mat-checkbox-checked .mat-checkbox-label {background-color: #4A154B;color: #fff;}
:host /deep/ .radio-style .mat-checkbox-label .mat-checkbox-container{opacity: 0;display: none;}
:host /deep/ .radio-style .mat-checkbox-button { display: inline-block; width: 24%; margin-bottom: 15px; padding: 0 15px 0 0px; }
:host /deep/ .radio-style .mat-checkbox-button:last-child { margin-bottom: 15px; padding: 0 0px 0 0px; }
:host /deep/ .radio-style .mat-checkbox-inner-container{opacity: 0;display: none;}
:host /deep/ .mat-radio-button { display: inline-block; width: 100%; }
.m-sm-bottom{font-family: 'HelveticaNeue';font-weight: normal;}
.m-sm-bottom button b{font-family: 'HelveticaNeue';font-weight: normal;color: #4A154B;cursor: pointer;text-decoration: none;}
.mat-form-field{width: 100%;}
.bottom-btn{padding-left: 0px;}
.bottom-btn button{font-family: 'HelveticaNeue';font-size: 14px;background: #4A154B;color: #fff;font-weight: normal;}
.expansion-body .form-group{display: inline-block;width: 46%;margin-right: 39px;}
.category_mainwrap .postjob-details .postjob-inner .content-section .form-group label {
    width: 100%;
    /* color: #333; */
    /* font-weight: bold; */
    font-family: 'HelveticaNeue-medium';
}
.category_mainwrap .postjob-details .postjob-inner .content-section .form-group label button{    background: #4A154B;
    color: #fff;
    min-width: 20px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: inherit;
    line-height: 19px;position: relative;left: 5px;top: -2px;}
.postjob-fulldesc{padding: 55px 0;}
.postjob-fulldesc .postjob-details{padding: 0px 0 30px;}
.left-selected span.fa.fa-check{    color: #fff;
    background: #008329;
    font-size: 10px;
    width: 18px;
    height: 18px;
    text-align: center;
    display: inline-block;
    line-height: 18px;
    border-radius: 50%;margin-right: 10px;}
.left-selected button{    background: #4A154B;
    color: #fff;
    min-width: 40px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: inherit;
    line-height: 40px;position: relative;left: 15px;top: -2px;}
.left-selected{padding: 30px 20px 0;position: relative;}
.vertical-align-middle{position: absolute;right: 20px;top: 34px;}
.vertical-align-middle a{color: #4A154B;}
.vertical-align-middle a span{margin-right: 5px;}
:host /deep/ .mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 180px;
    border:1px solid rgba(0,0,0,.42);
    padding: 10px;
}
:host /deep/ .mat-form-field-label{left: 9px;top: 23px;}
:host /deep/ .mat-focused .mat-form-field-label{left: 0px;top: 20px;color: #4A154B;}
:host /deep/ .mat-focused .mat-form-field-underline .mat-form-field-ripple {
    background-color: #4A154B;
}
:host /deep/ .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{    left: 0px;
    top: 20px;}
:host /deep/ .form-group .mat-checkbox{margin-right: 20px;}
.top-txt{padding-top: 15px;font-size: 20px;}
.top-txt i{font-size: 30px;}
.eo-image-drop.drop-box {
    background: none repeat scroll 0% 0% #F9F9F9;
    color: #656565;
    border: 2px dashed #4A154B;
    min-height: 80px;
    padding: 22px 0 0 10px;
}
.drop-box {
    background: none repeat scroll 0 0 #f8f8f8;
    border: 5px dashed #DDD;
    height: 65px;
    text-align: center;
    padding: 15px 0;
}
.drop-box label {
    font-size: 13px;
}
.drop-box label.attachment {
    cursor: pointer;
    color: #37a000;
}
.drop-box label:not(.btn), .drop-box .control-label {
    margin-bottom: 10px !important;
    color: #222;
    font-weight: 700;
    font-size: 13px;
    text-align: center !important;
    width: auto!important;
}
.eo-image-drop [type="file"] {
    position: absolute;
    z-index: 0;
    opacity: 0;
    width: 1px;
    height: 1px;
}
small {
    font-size: 12px;
    line-height: 20px;
}

:host /deep/ .theme_ng_select .ng-select-container {
    border: 1px solid rgba(0,0,0,.42);
    padding: 10px 10px;
    min-height: 45px;
}
:host /deep/ .theme_ng_select.ng-select .ng-select-container::after {
    border-bottom: 0px solid rgba(0,0,0,0.42);
}
:host /deep/ .theme_ng_select.ng-select .ng-select-container .ng-value-container {
    border-top: 0px;
    padding: 0px;
}
:host /deep/ .theme_ng_select.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    caret-color: transparent;
    top: 0px;
    height: 100%;
}
:host /deep/ .theme_ng_select.ng-select.ng-select-single .ng-select-container .ng-arrow-wrapper {
    bottom: 5px;
}
:host /deep/ .theme_ng_select .ng-dropdown-panel.ng-select-top {
    bottom: 0;
}
:host /deep/ .theme_ng_select .ng-dropdown-panel.ng-select-bottom {
    top: 0;
}
:host /deep/ .theme_ng_select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
    color: rgba(0,0,0,.87);
}
:host /deep/ .skills_block .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    background-color: #f4f5f8;
    border: 1px solid #ced0da;
    margin: 0px 5px;
    margin-bottom: 0px;
    line-height: 36px;
    padding: 2px 16px;
    text-transform: capitalize;
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
    transition: opacity .2s cubic-bezier(.35,0,.25,1),background-color .1s cubic-bezier(.35,0,.25,1);
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 10px;
    color: #333;
}
:host /deep/ .skills_block .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value:hover {
    background-color: #4A154B;
    color: #fff;
    border: 1px solid #4A154B;
}
:host /deep/ .skills_block .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
    color:  #333;
}
:host /deep/ .skills_block .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value:hover .ng-value-icon {
    color: #fff;
}
:host /deep/ .skills_block .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
    color: rgba(0,0,0,.87);
}
:host /deep/ .skills_block .ng-select .ng-select-container::after {
    border-bottom: 1px solid rgba(0,0,0,0.42);
}
:host /deep/ .bottom-btn button {
    margin-right: 10px;
}
@media(max-width: 480px)
{
:host /deep/ .radio-style .mat-radio-button {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    padding: 0 15px 0 0px;
}
.vertical-align-middle {
    position: relative;
    right: 0;
    top: 0;
}
}
@media(min-width: 481px) and (max-width: 767px)
{
:host /deep/ .radio-style .mat-radio-button {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    padding: 0 15px 0 0px;
}
.vertical-align-middle {
    position: relative;
    right: 0;
    top: 0;
}
}
@media(min-width: 768px) and (max-width: 991px)
{
:host /deep/ .radio-style .mat-radio-button {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
    padding: 0 15px 0 0px;
}
}
@media(min-width: 992px) and (max-width: 1199px)
{
:host /deep/ .radio-style .mat-radio-button {
    display: inline-block;
    width: 30%;
    margin-bottom: 15px;
    padding: 0 15px 0 0px;
}

}