<div class="category_mainwrap profileedit-wrap profileedit_list_middle membership_connects">
    <div class="profileedit_list">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- <h3>Membership & Connects</h3> -->
            <div class="account-box contact-box">
                <h3>Summary</h3>
                <div class="account-box contact-box" *ngIf="isLoadMembership">
                    <h5>Current Plan</h5>
                    <div>{{currentPlan}}</div>
                    <!-- <button type="button" mat-button  routerLink="/membership/changeplan">View or Edit Membership Plan</button> -->
                </div>
                <div class="account-box contact-box">
                    <h5>Available Connects</h5>
                    <div>{{availableConnects}}</div>
                    <button type="button" mat-button routerLink="/membership/connectshistory">View Connects History</button>
                </div>
                <div class="account-box contact-box" *ngIf="isLoadMembership">
                    <h5>Membership Connects</h5>
                    <div>{{membershipConnects}}</div>
                    <!-- <div><a>Learn more</a> about rolling-over Connects.</div> -->
                </div>
                <div class="account-box contact-box" *ngIf="isLoadMembership">
                    <h5>Membership Fee</h5>
                    <div>{{membershipFee}} / {{membershipType}}</div>
                </div>
                <div class="account-box contact-box" *ngIf="isBilling">
                    <h5>Current Billing Cycle</h5>
                    <div>{{currentBilling.start | date: 'MMM d, y'}} - {{currentBilling.end | date: 'MMM d, y'}}</div>
                    <!-- <a>Learn more</a> -->
                </div>
            </div>
        </div>
    </div>
</div>