<div class="category_mainwrap job_listingwrap">
   <!--Start breadcrumb_wrap-->
    <div class="breadcrumb_wrap">
        <!--Start container-->
      <div class="container">
          <!--Start row-->
        <div class="row">
           <!--Start col-->
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h4>Notifications</h4>
          </div>
          <!--End col-->
        </div>
        <!--End row-->
      </div>
      <!--End container-->
    </div>
    <!--End breadcrumb_wrap-->
    <div class="my_proposal">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="bg-box profile_bg-box notification-list-box">
                <ng-container *ngIf="nCount > 0;else noNotification">
                  <ul class="notification-list-page">
                    <li *ngFor="let notifyItem of notList">
                          <a (click)="deleteNotification(notifyItem)" class="close-btn">
                              <i class="material-icons">
                                clear
                              </i>
                            </a>
                        <div [ngSwitch]="true" class="notification-msg">
                          <a (click)="updateSeen(notifyItem)" *ngSwitchCase="notifyItem.type === 'Invite'" routerLink="/interview-detail/{{notifyItem.object_id}}">{{notifyItem.text}}</a>
                          <a (click)="updateSeen(notifyItem)" *ngSwitchCase="notifyItem.type === 'Offer'" routerLink="/view-offer/{{notifyItem.object_id}}">{{notifyItem.text}}</a>
                          <a (click)="updateSeen(notifyItem)" *ngSwitchCase="notifyItem.type === 'submitted'" routerLink="/proposal-details/{{notifyItem.object_id}}">{{notifyItem.text}}</a>
                          <a (click)="updateSeen(notifyItem)" *ngSwitchCase="notifyItem.type === 'Created'" routerLink="/jobdetail/{{notifyItem.object_id}}">{{notifyItem.text}}</a>
                          <a (click)="updateSeen(notifyItem)" *ngSwitchCase="notifyItem.type === 'Contract-Created'" routerLink="/view-offer/{{notifyItem.object_id}}">{{notifyItem.text}}</a>
                          <a (click)="updateSeen(notifyItem)" *ngSwitchCase="notifyItem.type === 'Updated'" routerLink="/view-offer/{{notifyItem.object_id}}">{{notifyItem.text}}</a>
                          <a (click)="updateSeen(notifyItem)" *ngSwitchCase="notifyItem.type === 'Message'" routerLink="/chat-room/{{notifyItem.object_id}}">{{notifyItem.text}}</a>
                          <a (click)="updateSeen(notifyItem)" *ngSwitchCase="notifyItem.type === 'Dispute'" routerLink="/view-offer/{{notifyItem.object_id}}">{{notifyItem.text}}</a>
                          <a (click)="updateSeen(notifyItem)" *ngSwitchCase="notifyItem.type === 'Membership-subscription'" routerLink="/setting/membership">{{notifyItem.text}}</a>
                          <a (click)="updateSeen(notifyItem)" *ngSwitchCase="notifyItem.type === 'Payment-Created'" routerLink="/get-paid">{{notifyItem.text}}</a>
                          <a (click)="updateSeen(notifyItem)" *ngSwitchCase="notifyItem.type === 'Transaction' && user_type === 'Client'" routerLink="/client-transaction-history">{{notifyItem.text}}</a>
                          <a (click)="updateSeen(notifyItem)" *ngSwitchCase="notifyItem.type === 'Transaction' && user_type !== 'Client'" routerLink="/transaction-history">{{notifyItem.text}}</a>
                          <a (click)="updateSeen(notifyItem)" *ngSwitchDefault>{{notifyItem.text}}</a>
                        </div>
                        <span class="notification-time">{{ notifyItem.created | date:'MMM dd, yyyy - h:mm a' }}</span>
                     
                    </li>
                  </ul>
                  <div class="button-row">
                  <button mat-button *ngIf="isMore" (click)="moreNotification()" class="btn">Load More</button>
                  </div>
                </ng-container>
                <ng-template #noNotification>
                  <div class="notify-text">
                    <h4>No more Notification.</h4>
                  </div>
                </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>