<div class="category_mainwrap profileedit-wrap profileedit_list_middle billing_settings">
  <div class="profileedit_list">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="account-box contact-box">
    <div class="container">
      <div class="hpanel row">
        <div class="col-md-6 pull-left">
          <h3>Billing Methods</h3>
        </div>

        <div class="col-md-6 pull-right">
          <div class="add-billing-button">
            <button type="button" mat-button (click)="billingPopup()">+ Add Billing Method</button>
 

          </div>
        </div>
      </div>
    </div>

        <section class="content-section">          
          <app-billing-method-list #billinglists></app-billing-method-list>
        </section>
      </div>
    </div>
  </div>
</div>
