<div class="category_mainwrap postjob_wrap">
  <div class="breadcrumb_wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h4>Set up Payments: Paypal</h4>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </div>

  <form [formGroup]="setupPaypalForm" (ngSubmit)="setupPaypalFormSubmit(setupPaypalForm.value)" (keydown.enter)="$event.preventDefault()"
    enctype="multipart/form-data">
    <div class="payment-fulldesc">
      <div class="setup-payment-details">
        <div class="container">
          <div class="row">
            <div class="setup-payment-container">

                <p *ngIf="withdraw_option == 'USD'">Transfer funds to your PayPal account for ${{withdraw_fee_paypal}}
                    {{withdraw_option}} per withdrawal, plus any fees charged by Paypal. <a href="https://www.paypal.com/us/smarthelp/article/how-do-i-get-money-out-of-my-paypal-account-faq2316" target="_blank">Learn more about PayPal withdrawals </a>
                  </p>
                  <p *ngIf="withdraw_option == 'percentage'">Transfer funds to your PayPal account for {{withdraw_fee_paypal}}
                    {{withdraw_option}} per withdrawal, plus any fees charged by Paypal. <a href="https://www.paypal.com/us/smarthelp/article/how-do-i-get-money-out-of-my-paypal-account-faq2316" target="_blank">Learn more about PayPal withdrawals </a>
                  </p>
                  <p>Don't have a PayPal account? <a href="https://www.paypal.com" target="_blank">Visit PayPal</a></p>


              <h5>Payment Details</h5>
              <section class="content-section stepthree-section">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                      <label>PayPal Email Address</label>
                      <mat-form-field class="example-full-width" appearance="outline">
                        <input matInput placeholder="PayPal Email" formControlName="paypal_email">
                      </mat-form-field>
                      <div class="text-danger text-left small" *ngIf="errorMsg">{{geterrorMsg('paypal_email') ||
                        this.errorMsgArr['paypal_email']}}</div>
                    </div>
                    <div class="bottom-btn">
                      <button mat-button type="submit" [disabled]="isbuttondisable">Save</button>
                      <button mat-button (click)="onCancel()" class="cancel-btn">Cancel</button>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
