/*popup design*/
:host /deep/ .mat-form-field { width:100%; }
.upload_files_blk { width:100%; border: 2px dashed #A62B3D; padding:30px; text-align: center; margin:10px 0;}
.upload_files_blk span label { cursor: pointer; font-weight: 500; color: #4A154B;}
.modal-title {  color: #4A154B; font-size: 25px; text-transform: uppercase;font-family: 'Open Sans', sans-serif; font-weight: normal; font-style: normal; letter-spacing: 1px;}
.profile-leftblock h5 {color: #4A154B; font-size: 20px; text-transform: uppercase; font-family: 'Open Sans', sans-serif;font-weight: normal;font-style: normal;letter-spacing: 1px;margin-bottom: 30px;}
button.save-btn { background-color: #27AB6B;border-color: #A62B3D;border-radius:6px;font-family: 'Open Sans', sans-serif;padding: 0 16px;color: #fff;}
button{font-weight: normal;cursor: pointer; margin: 0px 5px; line-height: 36px; font-size: 14px; outline:0px;border:0px;}
button.save-btn:hover { background-color: #992331; }
button.cancel-btn:hover { background-color: #C4C7CD; color: #000; }
button.cancel-btn{ background-color: #DFE2E9; /*  border-color: #DFE2E9;*/ color: #000; border-radius:6px; font-family: 'Open Sans', sans-serif; padding: 0 16px; }
button:focus{ outline:none; }
.modal-header { padding: 0px 0px 10px 0px; }
.btn_block{ padding: 10px 0px; }
.modal-body{ padding:15px 0px; }
.modal-header button { background: transparent; border: none; cursor: pointer; position: relative; top: 0px; outline: none; padding:0px; text-align:right; margin: 0px; right:-8px; }
.mat-select { padding: .5rem .75rem; font-size: 1rem; line-height: 1.25; border: 1px solid rgba(0,0,0,.15); border-radius: .25rem; margin: 10px 0px; }
.available_popup label{ width:100%; }
.mat-radio-button { margin-right: 7px; }
:host /deep/ .mat-radio-label { cursor: pointer; display: inline-flex; align-items: center; white-space: nowrap; vertical-align: middle; box-shadow: 0px 1px 30px #cccbcb; line-height: 46px; width: 100%; display: inline-block; text-align: center; border-radius: 7px; padding: 3px 17px; color: #4A154B; text-transform: uppercase; font-family: 'HelveticaNeue-Medium'; font-size: 13px; text-decoration: none; }
:host /deep/  .mat-radio-checked .mat-radio-label{ background-color: #4A154B; color: #fff; }
:host /deep/ .mat-radio-container { opacity: 0; display: none; }
.mat-radio-button{ margin-right: 10px; margin-left: 10px;  }
.form-group.available_blk { background: #fff; box-shadow: 0px 1px 30px #cccbcb; padding: 20px; }
.mat-radio-button:first-child { margin-left: 0px; }
.mat-radio-button:last-child { margin-right: 0px; }
.form-group.available_blk.non_available_block { text-align: center; }

/*popup scrollbar*/
::ng-deep  .cdk-overlay-dark-backdrop { min-height: 100% !important; position: fixed !important; }
::ng-deep .cdk-global-overlay-wrapper{ overflow-y:auto; pointer-events: auto; padding:20px 0px 0px 0px; overflow-x:hidden; }
::ng-deep  .cdk-global-scrollblock {  overflow: hidden; width: 102%; }
::ng-deep   .mat-dialog-container { overflow: hidden; }
/*calendar design*/
::ng-deep .mat-calendar-body-cell.mat-calendar-body-disabled{ color: #A0A0A0 !important; background: #E0E0E0 !important; }
::ng-deep .mat-calendar-body-today:not(.mat-calendar-body-selected) { background: #ae2838 !important; color: #fff; border-radius:50% !important; height: 90% !important; width: 90% !important; }
::ng-deep .mat-calendar-body-selected { background: #ae2838 !important; color: #fff; }
::ng-deep .mat-calendar-body-cell-content{ border-radius:50% !important; height: 90% !important; width: 90% !important; border: 0px !important; left: 0px !important; top: 0px !important; }
::ng-deep mat-datepicker-toggle .mat-icon-button { color: #AE2838 !important; }
::ng-deep .mat-form-field-infix .form-control{ background: transparent; color: #464a4c; }
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label,::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label { color: #464a4c; }
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix{ padding: 3px 0px 0px 0px; border: 0px; }
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label { top: 0px; }
::ng-deep .mat-datepicker-content .mat-calendar-next-button,::ng-deep .mat-datepicker-content .mat-calendar-previous-button,::ng-deep .mat-datepicker-toggle { color: #4A154B; }
::ng-deep .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected) { background-color: #F2F2F2;border-radius: 50% !important; width:90% !important; height:90% !important;}
::ng-deep .profile-leftblock button:focus { outline: none; }
::ng-deep .mat-form-field-label-wrapper {top: 2px;}
::ng-deep .mat-calendar {font-family: inherit;}
::ng-deep .profile-leftblock .mat-form-field-flex {border-radius: 4px; border: 1px solid #E0E0E0; padding: 8px 10px 8px 10px;}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline { display: none;}
.thumbimg img { width:120px;height: 120px;display: inline-block;margin: 0px 0px; object-fit:cover;}
.date_label {margin-right: 10px;}
::ng-deep  .mat-select-panel .mat-option {line-height: 35px !important; height: 35px !important;}
:host /deep/ .mat-icon.material-icons {color: #A62B3D; vertical-align: middle;}
.btn.btn-primary.save-btn { background-color: #A62B3D; border-color: #A62B3D; margin-left: 10px;cursor:pointer;}
.upload_files_blk { position: relative; display: inline-block; overflow: hidden;margin-left:10px;vertical-align: middle;cursor:pointer;}
.upload_files_blk .well.my-drop-zone {opacity: 0; z-index: 1;position: absolute; right: 0;top: 0; cursor: pointer;}
.upload_files_blk .btn.btn-primary.save-btn {margin: 0px;cursor: pointer; display: block;font-weight: 600;}
.popup_upload_img img {width: 120px;height: 120px;object-fit:cover;}
.popup_upload_img img{margin: 10px 0px;}
.profile-leftblock label {font-weight: 600;}
.thumbimg {width: 20%;vertical-align: middle;display: table-cell;border: 1px solid #ddd;padding: 10px;text-align: center;}
.file_name_blk {width: 70%;vertical-align: middle;display: table-cell;border: 1px solid #ddd;padding: 10px;}
.file_delete_link { width: 10%;vertical-align: middle;display: table-cell;text-align:center;border: 1px solid #ddd;padding: 10px;}
textarea {min-height: 120px;max-height: 120px;resize: none;}
.modal-header .mat-icon.material-icons {color: rgba(0,0,0,.87);}
.upload_img_blk{display: table;border-collapse: collapse; border: 1px solid #ddd;width: 100%;margin: 10px 0px;}
.view_uploadimg{margin:5px 0px;box-sizing: border-box;}
.upload_img_name{width: 485px;display: block;overflow: hidden;text-overflow: ellipsis;word-break: break-all; white-space: nowrap;}
.popup_upload_img.ng-star-inserted {width: 100%;display: block;}
#drag_attachment{opacity: 0;width: 100%;height: 100%;cursor: pointer;display: inline-block;padding: 20px;}


@media(min-width:991px)
{
.profile-leftblock { max-width: 750px; min-width: 750px; }
}

@media(max-width:991px)
{ 
.thumbimg { width: 38%; }
.file_name_blk { width: 57%; }
.file_delete_link { width: 5%; }
.upload_img_name{ width: 240px; }
}

@media(max-width:767px)
{
.modal-title{  font-size: 15px; }
:host /deep/ .mat-form-field-infix { width: 100%; }
::ng-deep .cdk-overlay-pane { right: 5px !important; }
.profile-leftblock .control-label { width: 100%; }
.btn.btn-primary.save-btn { margin: 0px; }
.upload_files_blk {  margin: 0px; }
:host /deep/ .mat-list-item.ng-star-inserted div { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 100%;word-break: break-all;}
label { display: block; }
.thumbimg { width: 100%; display: block; border: 0px; border-bottom: 1px solid #ddd; }
.file_name_blk { width: 80%; display: inline-block; border:0px; }
.file_delete_link { width: 20%; display: inline-block; border:0px; }
.btn.btn-primary.save-btn { display: inline-block; }
.thumbimg img{ display: inline-block; }
.upload_img_name{ width: 100%; }
.upload_img_blk{ display:block; }
}
