/* Notification poup design start */
::ng-deep .notification-list{padding:0;}
::ng-deep .notification-list li {list-style: none;color: #222;font-size: 14px;font-family: 'HelveticaNeue';margin-bottom: 5px;border-bottom: 1px solid #ccc;padding-bottom: 5px;}
::ng-deep .notification-list li:last-child{margin-bottom: 0;}
::ng-deep .notification-list li a{color:inherit;text-decoration:none;outline: none;}
::ng-deep .notification-list li a:hover {color: #4A154B;}
::ng-deep .notification-modal .mat-dialog-container {background: transparent;box-shadow: none;}
::ng-deep .notification-list{width: 100%;}
::ng-deep .cdk-overlay-pane.notification-modal {margin-right: 0 !important;margin-left: 0 !important;width: 100% !important;text-align: center;min-width: 100%;max-width: 100%; font-family: 'HelveticaNeue';}
::ng-deep .custom_class_notification .cdk-global-overlay-wrapper { /* z-index: unset; */}
::ng-deep .notification-dialogue { width: 100%; display: block; text-align: center; }
::ng-deep .notification-dialogue-inner { width: 1140px; background: transparent; display: inline-block; padding-right: 110px; }
::ng-deep .notification-dialogue-content{ width:365px; float:right; background-color:#fff; text-align: left; max-height: 295px; overflow-x: hidden; overflow-y: auto; padding: 15px 20px; border: 1px solid #dfe3e9; border-radius: 5px; box-shadow: 0 1px 7px #f7f7f7; }
::ng-deep .notification-dialogue .mat-dialog-actions { margin-bottom: 0; }
::ng-deep .notification-dialogue .mat-dialog-actions .mat-button { background-color: #4A154B; color: #fff; }
::ng-deep .custom_class_notification .cdk-overlay-dark-backdrop { background: transparent; }
::ng-deep .notification-modal .mat-dialog-content { max-height: unset; }
::ng-deep .date-time { font-size: 12px;font-size: 12px;color: #5a5a5a;width: 100%;display: inline-block;}


@media(max-width:1200px)
{
::ng-deep .notification-dialogue-inner { width: 960px; padding-right: 120px; }
::ng-deep .cdk-overlay-pane.notification-modal { margin-top: 60px !important;}
}

@media(max-width:992px)
{
::ng-deep .notification-dialogue-inner {width: auto;padding-right: 0;}
::ng-deep .cdk-overlay-pane.notification-modal {margin-top: 120px !important;}
}

@media(max-width:767px)
{
    ::ng-deep .notification-dialogue-content{width:400px; }
}

@media(max-width:520px)
{
    ::ng-deep .notification-dialogue-content{width:290px; }
}
/* Notification poup design end */