	<div class="category_mainwrap candid_profilewrap">	
		<div class="breadcrumb_wrap">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<h4>candidate profile</h4>
					</div><!--end col-->
				</div><!--end row-->
			</div><!--end container-->
		</div><!--end breadcrumb_wrap-->

		<div class="candidate_profile">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
						<div class="profile-left">
							<div class="profiledetail-bg"><img src="assets/images/profiledetail-bg.jpg"></div>
							<h4 class="cand-profileimg"><img src="assets/images/cand-profileimg.jpg"></h4>
							<div class="cand-namelist">
								<h3>patty white</h3>
								<p>front end developer</p>
								<div class="candid-rating">
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div><!--end candid-rating-->
								<div class="candid-social">
									<ul>
										<li><a href=""><span class="fa fa-facebook"></span></a></li>
										<li><a href=""><span class="fa fa-twitter"></span></a></li>
										<li><a href=""><span class="fa fa-linkedin"></span></a></li>
										<li><a href=""><span class="fa fa-google-plus"></span></a></li>
									</ul>
								</div><!--end candid-social-->
							</div><!--end cand-namelist-->
						</div><!--end profile-left-->

						<div class="left-button"><button mat-button><span class="fa fa-download"></span>Download Resume</button></div>

						<div class="left-button"><button mat-button><span class="fa fa-phone"></span>Contact Candidate</button></div>
					</div><!--end col-->

					<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
						<div class="primary-block">
							<h3>Primary Information</h3>
							<ul>
								<li><span class="fa fa-user"></span>Patty White</li>
								<li><span class="fa fa-envelope"></span>pattywhite@domain.com</li>
								<li><span class="fa fa-phone"></span>+91 91111 22222</li>
								<li><span class="fa fa-flag"></span>Indian</li>
								<li><span class="fa fa-map-marker"></span>SP infocity,pune, India</li>
								<li><span class="fa fa-calendar"></span>29th Dec 1986</li>
							</ul>
						</div><!--end primary-block-->

						<div class="description-block">
						<h3>Dear clients.</h3>
						<p>Welcome to my profile!</p>
						<p>My name is Hassan Parvez and I have 3 years of experience in React.js/React/IONIC.
I started software development since 10 years ago which varies from Web and mobile Development to Network Management and it helped me a lot to acquire enough knowledge about how the software works in harmony with hardware. </p>
<p>Nowadays, React.js and React Native as well as IONIC are my main interests.
Mobile app development using React Native and website development using React.js are 
really cool.... <span><a href="">more</a></span></p>
						</div><!--end description-block-->

						<div class="history-block">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<h3>Work History</h3>
								<div class="work-detail">
									<ul>
										<li>
										<span class="fa fa-circle icon"></span>
										<div class="work-text">
										<h5>Front end Developer</h5>
										<p>Nov 2017 - Dec 2017 :  52 Hours</p>
										<div class="work-rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span>5.00</span>
										</div><!--end work-rating-->
										</div><!--end work-text-->
										</li>
										<li>
										<span class="fa fa-circle icon"></span>
										<div class="work-text">
										<h5>Front end Developer</h5>
										<p>Nov 2017 - Dec 2017 :  52 Hours</p>
										<div class="work-rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span>5.00</span>
										</div><!--end work-rating-->
										</div><!--end work-text-->
										</li>
										<li>
										<span class="fa fa-circle icon"></span>
										<div class="work-text">
										<h5>Front end Developer</h5>
										<p>Nov 2017 - Dec 2017 :  52 Hours</p>
										<div class="work-rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span>5.00</span>
										</div><!--end work-rating-->
										</div><!--end work-text-->
										</li>
									</ul>
								</div><!--end work-detail-->
							</div><!--end col-->

							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<h3>Feedback</h3>
								<div class="work-detail feedback-detail">
									<ul>
										<li>
										<span class="fa fa-circle icon"></span>
										<div class="work-text">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis elit nec felis commodo faucibus in a tortor. Cras facilisis, augue eu luctus aliquam, enim nibh porta nunc.</p>
										</div><!--end work-text-->
										</li>
										<li>
										<span class="fa fa-circle icon"></span>
										<div class="work-text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis elit nec felis commodo faucibus in a tortor. Cras facilisis, augue eu luctus aliquam, enim nibh porta nunc.</p>
										</div><!--end work-text-->
										</li>
										<li>
										<span class="fa fa-circle icon"></span>
										<div class="work-text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis elit nec felis commodo faucibus in a tortor. Cras facilisis, augue eu luctus aliquam, enim nibh porta nunc.</p>
										</div><!--end work-text-->
										</li>
									</ul>
								</div><!--end work-detail-->
							</div><!--end col-->
							</div><!--end row-->
						</div><!--end history-block-->

						<div class="skills-block">
						<h3>Skills</h3>
						<ul class="job-label">
		                  <li><a href="">UX/UI Design</a></li>
		                  <li><a href="">JavaScript</a></li>
		                  <li><a href="">HTML/HTML5</a></li>
		                  <li><a href="">PHP</a></li>
		                  <li><a href="">CSS/CSS3</a></li>
		                  <li><a href="">ROR</a></li>
		              </ul>
						</div><!--end skills-block-->
					</div><!--end col-->
				</div><!--end row-->
			</div><!--end container-->
		</div><!--end candidate_profile-->
	</div><!--end candid_profilewrap-->