<div class="category_mainwrap profileedit-wrap">
    <div class="breadcrumb_wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <h4>Tell us more about you</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="profileedit_list">
        <div class="container">
            <div class="row">
                <form [formGroup]="moreDetailForm">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="account-box">
                            <h3>Profile Image</h3>
                            <div class="account-details freelancer_profile">
                                <div class="account-user" (click)="editProfileImage()">
                                    <span *ngIf="pathimage;else defaultIMage;">
                                        <img src="{{imagePath}}">                   
                                    </span>
                                    <ng-template #defaultIMage=""><img src="assets/images/profile_default.png"></ng-template>
                                </div>
                                <div class="text-danger text-left small" *ngIf="errorMsg == 'Upload a profile pic'">Upload a profile pic</div>
                                <div class="account-name">
                                    <h4>{{first_name}} {{last_name}}</h4>
                                    <p>{{register_type}}</p>
                                </div>
                                <!--end account-name-->
                            </div>
                            <!--end account-details-->
                        </div>
                        <!--end account-box-->

                        <div class="account-box contact-box">
                            <h3>Professional Details</h3>
                            <div class="name-edit">

                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label>Add a professional title that describes the work you do</label>
                                                <input class="form-control" type="text" formControlName="title">
                                                <div class="text-danger text-left small" *ngIf="errorMsg">{{geterrorMsg('title') || this.errorMsgArr['title']}}</div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label>Write a professional overview</label>
                                                <textarea class="form-control" type="text" formControlName="description"></textarea>
                                                <div class="text-danger text-left small" *ngIf="errorMsg">{{geterrorMsg('description') || this.errorMsgArr['description']}}</div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group radio_button_block">
                                                <label>What is your English proficiency?</label>
                                                <mat-radio-group formControlName="english_level" [(ngModel)]="defaultLang" required>
                                                    <mat-radio-button *ngFor="let englevel of englevels" [value]="englevel.key" [checked]="englevel.key == defaultLang">
                                                        {{englevel.name}}
                                                    </mat-radio-button>
                                                </mat-radio-group>
                                                <div class="text-danger text-left small" *ngIf="errorMsg">{{geterrorMsg('english_level') || this.errorMsgArr['english_level']}}</div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <h3>Set your Hourly Rate</h3>
                            <div class="name-edit">
                                <div class="profile-leftblock">
                                    <div>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <label>Hourly Rate Total amount the client will see (Rs.)</label>
                                                        <input #ratevalue class="form-control" formControlName="hourly_rate" (mouseleave)="calculaterate()" (keypress)="isFloat($event)" placeholder="Enter your rate"> <span>/hr</span>
                                                        <div class="text-danger text-left small" *ngIf="errorMsg">{{geterrorMsg('hourly_rate') || this.errorMsgArr['hourly_rate']}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <h3>Add your availability and location</h3>
                            <div class="name-edit">

                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <div>
                                                    <label>How many hours do you have available for work each week?</label>
                                                </div>
                                                <mat-radio-group formControlName="daily_availability" [(ngModel)]="defaultType" required>
                                                    <mat-radio-button *ngFor="let dailytype of dailytypes" [value]="dailytype.key" [checked]="dailytype.key == defaultType">
                                                        {{dailytype.name}}
                                                    </mat-radio-button>
                                                </mat-radio-group>
                                                <div class="text-danger text-left small" *ngIf="errorMsg">{{geterrorMsg('daily_availability') || this.errorMsgArr['daily_availability']}}</div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label>Phone</label>
                                                <input class="form-control" type="text" (keypress)="isNumber($event)" formControlName="phone" placeholder="Enter the phone number">
                                                <div class="text-danger text-left small" *ngIf="errorMsg">{{geterrorMsg('phone') || this.errorMsgArr['phone']}}</div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label>Address</label>
                                                <input class="form-control" type="text" formControlName="address" placeholder="Enter the address">
                                                <div class="text-danger text-left small" *ngIf="errorMsg">{{geterrorMsg('address') || this.errorMsgArr['address']}}</div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label>City</label>
                                                <input class="form-control" type="text" formControlName="city" placeholder="Enter the city">
                                                <div class="text-danger text-left small" *ngIf="errorMsg">{{geterrorMsg('city') || this.errorMsgArr['city']}}</div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label>State</label>
                                                <input class="form-control" type="text" formControlName="state" placeholder="Enter the state">
                                                <div class="text-danger text-left small" *ngIf="errorMsg">{{geterrorMsg('state') || this.errorMsgArr['state']}}</div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label>Country: Nepal</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="account-button">
                                    <button type="button" mat-button (click)="submitMoreDetailForm(moreDetailForm.value)">save</button>
                                    <!-- <button mat-button (click)="deleteMoreDetailForm()">Delete Account</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>