.category_mainwrap input::-webkit-input-placeholder {color: #b5b8b8!important;}
.category_mainwrap input:-moz-placeholder { color: #b5b8b8!important; }
ul{margin:0;padding: 0;}
li{list-style: none;}
.category_mainwrap .breadcrumb_wrap{background-color: #4A154B;padding: 35px 0;}
.category_mainwrap .breadcrumb_wrap h4{font-size: 32px;font-family: 'HelveticaNeue-Medium';color: #fff;text-transform: capitalize;margin:0;letter-spacing: 1px;}
.category_mainwrap .search-category{float: right;}
.category_mainwrap .search-category span.form-icon{position: absolute;height: 100%;background: transparent;width: 40px;text-align: center;padding-top: 10px;padding-left: 4px;color: #4A154B;cursor: pointer;}
.category_mainwrap .search-category input.form-control{height: 45px;border-radius: 30px;padding-left: 40px;font-family: 'HelveticaNeue';font-size: 16px;color: #3d3d3d;letter-spacing: 1px;line-height: 45px;}
.my_proposal { padding: 35px 0; }
.my_proposal .bg-box { background-color: #fff; height: auto; box-shadow: 0 0 20px #dcdcdc; border-radius: 10px; padding: 36px 40px; display: inline-block; width: 100%; }
:host /deep/ .mat-tab-group.mat-primary .mat-ink-bar { background-color:#4A154B; height:4px;}
table.mat-table { width:100%;}
.my_proposal_table { width:100%;border:2px solid #dcdcdc; border-radius: 4px; position: relative; display: inline-block;  padding:0; margin:20px 0 0;}
.table_title h2 { font-size: 24px; }
th.mat-header-cell{font-family: 'HelveticaNeue-Medium';color: #333;font-size: 16px;}
td.mat-cell{font-family: 'HelveticaNeue';}
.my_proposal_table p { margin-bottom: 3px;}
.my_proposal_table .mat-cell a {color: #4A154B;}
.my_proposal_table tr.mat-footer-row,.my_proposal_table tr.mat-row {height: 60px;}
.my_proposal_table th.mat-header-cell{vertical-align: middle;}
.profile_bg-box .mat-tab-body-content .my_proposal_table:last-child {margin-bottom: 0;}
.admin-dashboard tr.mat-footer-row, tr.mat-row {border-left: 0px !important;border-right: 0px !important;}

@media(min-width:1201px)
{
.my_proposal_table .table-responsive {overflow-x: hidden;}
}

@media(max-width:767px)
{
table.mat-table {width: 800px;}
.mat-elevation-z8 {box-shadow: none;}
}