<!--ALL CATEGORY MAIN CONTENT-->
	<div class="category_mainwrap">
		<div class="breadcrumb_wrap">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
						<h4>Web, Mobile & Software Dev</h4>
					</div><!--end col-->

					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<form>
							<div class="search-category">
								<span class="form-icon"><i class="fa fa-search"></i></span>
								<input type="text" class="form-control" placeholder="Search Freelancers">
							</div><!--end search-category-->
						</form>
					</div><!--end col-->
				</div><!--end row-->
			</div><!--end container-->
		</div><!--end breadcrumb_wrap-->

		<div class="category_list">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
							<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
       advance filters
      </mat-panel-title>
    </mat-expansion-panel-header>

  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        salary
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="salary-left">
     <input type="number" name="input" ng-model="example.value"
           min="10000" max="1000000" required>
    </div>
    <div class="salary-left">
            <input type="number" name="input" ng-model="example.value"
           min="100000000" max="100000000000" required>
  	</div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
       any job success
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ul class="job-list">
    	<li><a href="">any job success <span>(430,777)</span></a></li>
    	<li><a href="">70% job success <span>(330,111)</span></a></li>
    	<li><a href="">80% job success <span>(330,111)</span></a></li>
    	<li><a href="">90% job success <span>(330,111)</span></a></li>
    	<li><a href="">100% job success <span>(330,111)</span></a></li>
    </ul><!--end job-list-->
  </mat-expansion-panel>

</mat-accordion>
					</div><!--end col-->

					<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
					<div class="freelancer-topwrap">
						<h3 class="list-head">TOP EMPLOYESS MATCHED TO YOUR SEARCH RESULT</h3>
						<div class="clear-txt"><a href="#"><span><i class="fa fa-times-circle"></i></span>clear all filter</a></div>
					</div><!--end freelancer-topwrap-->
					<div class="clearfix"></div>
					<mat-tab-group class="demo-tab-group candidate-details">
      <mat-tab label="best match">
        <div class="demo-tab-content">
            <div class="candidate-img"><img src="assets/images/candidate-img.png"></div>
            <div class="candidate-content">
              <h4>patty white</h4>
              <ul class="job-detail">
                  <li>Web,Mobile & Software dev</li>
                  <li>Senior React.js/React Native Developer</li>
              </ul>
              <ul class="job-success">
                  <li>$39.99/ hr</li>
                  <li>$8k + earned</li>
                  <li>100% job Success</li>
                  <li>Bangladesh</li>
              </ul>
              <ul class="job-label">
                  <li><a href="">React.js</a></li>
                  <li><a href="">React Native</a></li>
                  <li><a href="">HTML</a></li>
                  <li><a href="">CSS3</a></li>
              </ul>
            </div><!--end candidate-content-->
        </div>

        <div class="demo-tab-content">
          <div class="candidate-img"><img src="assets/images/candidate-img.png"></div>
            <div class="candidate-content">
              <h4>patty white</h4>
              <ul class="job-detail">
                  <li>Web,Mobile & Software dev</li>
                  <li>Senior React.js/React Native Developer</li>
              </ul>
              <ul class="job-success">
                  <li>$39.99/ hr</li>
                  <li>$8k + earned</li>
                  <li>100% job Success</li>
                  <li>Bangladesh</li>
              </ul>
              <ul class="job-label">
                  <li><a href="">React.js</a></li>
                  <li><a href="">React Native</a></li>
                  <li><a href="">HTML</a></li>
                  <li><a href="">CSS3</a></li>
              </ul>
            </div><!--end candidate-content-->
        </div>

        <div class="demo-tab-content">
          <div class="candidate-img"><img src="assets/images/candidate-img.png"></div>
            <div class="candidate-content">
              <h4>patty white</h4>
              <ul class="job-detail">
                  <li>web,mobile & software dev</li>
                  <li>senior react.js/react native developer</li>
              </ul>
              <ul class="job-success">
                  <li>$39.99/ hr</li>
                  <li>$8k + earned</li>
                  <li>100% job success</li>
                  <li>bangladesh</li>
              </ul>
              <ul class="job-label">
                  <li><a href="">react.js</a></li>
                  <li><a href="">react native</a></li>
                  <li><a href="">HTML</a></li>
                  <li><a href="">CSS3</a></li>
              </ul>
            </div><!--end candidate-content-->
        </div>

        <div class="demo-tab-content">
          <div class="candidate-img"><img src="assets/images/candidate-img.png"></div>
            <div class="candidate-content">
              <h4>patty white</h4>
              <ul class="job-detail">
                  <li>Web,Mobile & Software dev</li>
                  <li>Senior React.js/React Native Developer</li>
              </ul>
              <ul class="job-success">
                  <li>$39.99/ hr</li>
                  <li>$8k + earned</li>
                  <li>100% job Success</li>
                  <li>Bangladesh</li>
              </ul>
              <ul class="job-label">
                  <li><a href="">React.js</a></li>
                  <li><a href="">React Native</a></li>
                  <li><a href="">HTML</a></li>
                  <li><a href="">CSS3</a></li>
              </ul>
            </div><!--end candidate-content-->
        </div>

        <div class="demo-tab-content">
          <div class="candidate-img"><img src="assets/images/candidate-img.png"></div>
            <div class="candidate-content">
              <h4>patty white</h4>
              <ul class="job-detail">
                  <li>Web,Mobile & Software dev</li>
                  <li>Senior React.js/React Native Developer</li>
              </ul>
              <ul class="job-success">
                  <li>$39.99/ hr</li>
                  <li>$8k + earned</li>
                  <li>100% job Success</li>
                  <li>Bangladesh</li>
              </ul>
              <ul class="job-label">
                  <li><a href="">React.js</a></li>
                  <li><a href="">React Native</a></li>
                  <li><a href="">HTML</a></li>
                  <li><a href="">CSS3</a></li>
              </ul>
            </div><!--end candidate-content-->
        </div>

        <div class="demo-tab-content">
          <div class="candidate-img"><img src="assets/images/candidate-img.png"></div>
            <div class="candidate-content">
              <h4>patty white</h4>
              <ul class="job-detail">
                  <li>Web,Mobile & Software dev</li>
                  <li>Senior React.js/React Native Developer</li>
              </ul>
              <ul class="job-success">
                  <li>$39.99/ hr</li>
                  <li>$8k + earned</li>
                  <li>100% job Success</li>
                  <li>Bangladesh</li>
              </ul>
              <ul class="job-label">
                  <li><a href="">React.js</a></li>
                  <li><a href="">React Native</a></li>
                  <li><a href="">HTML</a></li>
                  <li><a href="">CSS3</a></li>
              </ul>
            </div><!--end candidate-content-->
        </div>
      </mat-tab>
      <mat-tab label="view all">
        <div class="demo-tab-content">
          <div class="candidate-img"><img src="assets/images/candidate-img.png"></div>
            <div class="candidate-content">
              <h4>patty white</h4>
              <ul class="job-detail">
                  <li>Web,Mobile & Software dev</li>
                  <li>Senior React.js/React Native Developer</li>
              </ul>
              <ul class="job-success">
                  <li>$39.99/ hr</li>
                  <li>$8k + earned</li>
                  <li>100% job Success</li>
                  <li>Bangladesh</li>
              </ul>
              <ul class="job-label">
                  <li><a href="">React.js</a></li>
                  <li><a href="">React Native</a></li>
                  <li><a href="">HTML</a></li>
                  <li><a href="">CSS3</a></li>
              </ul>
            </div><!--end candidate-content-->
        </div>  
      </mat-tab>
     
    </mat-tab-group>
					</div><!--end col-->
				</div><!--end row-->
			</div><!--end container-->
		</div><!--end category_list-->
	</div><!--end category_mainwrap-->



<!--END ALL CATEGORY MAIN CONTENT-->
