<div class="category_mainwrap job_listingwrap">	
  <div class="breadcrumb_wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h4>My Stats</h4>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </div><!--end breadcrumb_wrap-->

  <div class="my_status">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

          <div class="bg-box profile_bg-box">
            <div class="left_side">
              <div class="status_title">
                <h2>Client Satisfaction</h2>
              </div>

              <div class="status_content">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-one">
                      <h4>Job Success score</h4>
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-two">
                      <p>12-month earnings</p>
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-three">
                      <p>$0</p>
                    </div>
                  </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                      <div class="content-one">
                        <p>- Not yet available - <span class="fa fa-question-circle" matTooltip="Not yet available" aria-label="Button that displays a tooltip when focused or hovered over"></span></p>
                      </div>
                    </div>
  
                    <div class="col-lg-4 col-md-4 col-sm-4">
                      <div class="content-two">
                        <p>Client who whould recommend you</p>
                      </div>
                    </div>
  
                    <div class="col-lg-4 col-md-4 col-sm-4">
                      <div class="content-three">
                        <p>-</p>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="content-one">
                          <p>Last updated Jul 22</p>
                        </div>
                      </div>
    
                      <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="content-two">
                          <p>Long-term clients</p>
                        </div>
                      </div>
    
                      <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="content-three">
                          <p>0%</p>
                        </div>
                      </div>
                  </div>


                  <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4"></div>
    
                      <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="content-two">
                          <p>Recent account holds</p>
                        </div>
                      </div>
    
                      <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="content-three">
                          <p>0</p>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4"></div>
      
                        <div class="col-lg-4 col-md-4 col-sm-4">
                          <div class="content-two">
                            <p>Top Rated eligible weeks</p>
                          </div>
                        </div>
      
                        <div class="col-lg-4 col-md-4 col-sm-4">
                          <div class="content-three">
                            <p>0 to 16</p>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>

            <div class="right_side">
              <div class="right_block">
              <div class="status_title">
                <h4>Job Success</h4>
              </div>
                <p>Your Job Success reflects how well you deliver great results for your clients. This score updates about every 2 weeks</p>
                <p>Your Job Success reflects how well you deliver great results for your clients. This score updates about every 2 weeks</p>

                <p class="improve"><a href=""><i class="fa fa-lightbulb-o" aria-hidden="true"></i>How to improve your job success</a></p>
              </div>
            </div>
          </div>



          <div class="bg-box profile_bg-box">
              <div class="left_side">
                <div class="status_title">
                  <h2>communication</h2>
                </div>
  
                <div class="status_content">
                  <div class="communication_details">
                    <h5>You haven't received any invitations in the past 90 days. </h5>
                  </div>
                </div>
              </div>
  
              <div class="right_side">
                <div class="right_block">
                <div class="status_title">
                  <h4>Response time</h4>
                </div>
                  <p>Your Job Success reflects how well you deliver great results for your clients. This score updates about every 2 weeks</p>
                  <p>Your Job Success reflects how well you deliver great results for your clients. This score updates about every 2 weeks</p>

                  <div class="response_time">
                    <h4>Available</h4>
                    <p>More than 30hrs/week</p>
                    <button mat-button>Change</button>
                  </div>

                  <p class="improve"><a href=""><i class="fa fa-lightbulb-o" aria-hidden="true"></i>The benifits of setting your availability</a></p>
                </div>
              </div>
            </div>



            <div class="bg-box profile_bg-box">
                <div class="left_side">
                  <div class="status_title">
                    <h2>Marketing effectiveness</h2>
                  </div>
    
                  <div class="status_content">
                    <div class="communication_details">
                      <h5>You haven't applied to any jobs in the past 90 days.</h5>
                    </div>
                    <h5 class="new-h5">Your profile was discovered 0 times last week. (Almost the same as previous week)</h5>


                    <div class="profile-view">
                    <h5>Profile views</h5>
                      <ul class="profile_view_list">
                        <li><span>Jun 25</span></li>
                        <li><span>Jun 25</span></li>
                        <li><span>Jun 25</span></li>
                        <li><span>Jun 25</span></li>
                        <li><span>Jun 25</span></li>
                        <li><span>Jun 25</span></li>
                      </ul>
                    </div>

                    <div class="profile-complete">
                    <h5>Profile completeness</h5>
                      <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
                    <p>80%</p>
                    </div><!--end profile-complete-->

                    <div class="linked-btn">
                    <button mat-button><span>+</span> Add a linked social account +10%</button>
                    </div><!--end linked-btn-->
                  </div>
                </div>
    
                <div class="right_side">
                  <div class="right_block">
                  <div class="status_title">
                    <h4>Applying</h4>
                  </div>
                    <p>Your Job Success reflects how well you deliver great results for your clients. This score updates about every 2 weeks</p>
  
                    <p class="improve"><a href=""><i class="fa fa-lightbulb-o" aria-hidden="true"></i>The art of applying to jobs</a></p>
                  </div>
                </div>
              </div>

        </div>
      </div>
    </div>
  </div>
</div>
            