<div class="admin-dashboard admin-cmspage">
	<div class="home-settings-container pages-container mat-elevation-z8">
		<h2>Home Page Text Update</h2>

		<div class="filter_layout">
			<div class="row">
				<div class="col-lg-8 col-md-12 col-sm-12">
					<div class="filter_layout_input">
						<mat-form-field>
							<input matInput class="class_filter_input" #filter (keydown.enter)="applyFilter(customFilter,1)" [(ngModel)]="customFilter" placeholder="Search">       
						</mat-form-field>
					</div>
				</div>

				<div class="col-lg-4 col-md-12 col-sm-12">
					<div class="filter_button_layout">
						<button #filterbutton mat-raised-button (click)="applyFilter(customFilter,1)"><i class="material-icons">search</i> Search</button>
						<button #filterbutton mat-raised-button (click)="applyFilter(customFilter,0)"><i class="material-icons">autorenew</i> Reset</button>   
					</div>
				</div>
			</div>
		</div>

		<div class="home-settings-container mat-elevation-z8 table-box">
			<div class="home-settings-loading-shade"
			*ngIf="isLoadingResults || isRateLimitReached">
			<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
			<div class="home-settings-rate-limit-reached" *ngIf="isRateLimitReached">
				It will be reset in one minute.
			</div>
		</div>

		<div class="home-settings-table-container">

			<table mat-table [dataSource]="data" class="home-settings-table"
			matSort matSortActive="name" matSortDisableClear matSortDirection="asc">

			<ng-container matColumnDef="index">
			  <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
			  <mat-cell *matCellDef="let row; let i = index;"> <span *ngIf="pageEvent">{{pageEvent.pageIndex*perpage+ConvertToInt(i)+1}} </span> <span *ngIf="!pageEvent">{{ ConvertToInt(i)+1 }}</span></mat-cell>
			</ng-container>

			<ng-container matColumnDef="option_key">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Option Key</th>
				<td mat-cell *matCellDef="let row">{{ row.option_key }}</td>
			</ng-container>

			<ng-container matColumnDef="option_value">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Option Value</th>
				<td mat-cell *matCellDef="let row">{{ row.option_value }}</td>
			</ng-container>
			
			<ng-container matColumnDef="action">
				<mat-header-cell *matHeaderCellDef>
					<span><i class="fa fa-plus mat-icon"></i>Action</span>
				</mat-header-cell>
				<mat-cell *matCellDef="let row">
					<button mat-icon-button color="primary" focusable="false" routerLink="/admin/edit-home-setting/{{row.id}}">                  
						<a><i class="material-icons">&#xE254;</i></a>  
					</button>
				</mat-cell>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
	</div>
	 <div class="no-results" [style.display]="resultsLength == 0 ? '' : 'none'">
        No Record Found.
      </div>
	<mat-paginator [length]="resultsLength" [pageSize]="perpage" (page)="pageEvent = $event"></mat-paginator>
</div>

</div>
</div>

<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->