<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="row">
    <div class="col-md-2 col-sm-12">
      <div class="nav-btn-block">
        <button id="sidebarCollapse" mat-button class="nav-btn" (click)="toggleSidebar($event)">
            <span><i class="fa fa-bars"></i></span>
        </button>
      </div>
    </div>

    <!-- <div class="col-md-10 col-sm-12">
      <div class="header_menu_details">
        <ul class="header_list">
          <li><button mat-icon-button><i matBadge="15" class="material-icons">home</i></button></li>
          <li><button mat-icon-button><i matBadge="15" class="material-icons">mail</i></button></li>
          <li><button mat-icon-button><i mat-button class="material-icons">favorite</i></button></li>

          <li>
              <button mat-button [matMenuTriggerFor]="menu">Yaroslav Zaytsev <i class="material-icons"> keyboard_arrow_down </i></button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>
          </li>

          <li>
              <div class="profile_picture">
                <img src="assets/images/candidate-img.png">
                <span class="online"></span>
              </div>
          </li>

        </ul>
      </div>
    </div> -->
    
      </div>
</nav>
</div>