<div class="category_mainwrap messages_wrap">	
		<div class="breadcrumb_wrap">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<h4>Messages</h4>
					</div><!--end col-->
				</div><!--end row-->
			</div><!--end container-->
		</div><!--end breadcrumb_wrap-->

		<div class="messages-block">
			<div class="container-fluid">
				<div class="row">
					<div class="col col-lg-3 col-md-12 col-sm-12 col-xs-12">
						<div class="message-left">
						<button class="top-iconbtn" mat-button><span class="fa fa-cog"></span></button>
						<button class="top-iconbtn top-righticon" mat-button (click)="addroom();"><span class="fa fa-user"></span></button>
						<form class="leftmessage-form">
							  <mat-form-field class="example-full-width">
							  <span class="form-icon"><i class="fa fa-search"></i></span>
							    <input matInput placeholder="Search">
							  </mat-form-field>
						</form>
						<mat-tab-group>
						  <mat-tab label="Tab 1">
						  	 <ng-template mat-tab-label>
					          <span class="fa fa-commenting"></span>
					        </ng-template>
					        
						  <div class="message-user">
						  	<div class="inner-box">
						  	<span class="active"></span>
						  	<div class="user-img"><img src="assets/images/candidate-img.png"></div>
						  	<div class="user-detail">
						  		<h4>Matt Thompson</h4>
						  		<p>Thanks again you have been...</p>
						  	</div><!--end user-detail-->
						  	<div class="mess-menu">
						  		<button mat-icon-button [matMenuTriggerFor]="menu">
								  <mat-icon>more_vert</mat-icon>
								</button>
								<mat-menu #menu="matMenu">
								  <button mat-menu-item>
								    <mat-icon>dialpad</mat-icon>
								    <span>Redial</span>
								  </button>
								  <button mat-menu-item>
								    <mat-icon>voicemail</mat-icon>
								    <span>Check voicemail</span>
								  </button>
								  <button mat-menu-item>
								    <mat-icon>notifications_off</mat-icon>
								    <span>Disable alerts</span>
								  </button>
								</mat-menu>

						  	</div><!--end mess-menu-->
						  	<p class="time">5 min</p>
						  	</div><!--end inner-box-->

						  	<div class="inner-box">
						  	<div class="user-img"><img src="assets/images/candidate-img.png"></div>
						  	<div class="user-detail">
						  		<h4>Matt Thompson</h4>
						  		<p>Thanks again you have been...</p>
						  	</div><!--end user-detail-->
						  	<div class="mess-menu">
						  		<button mat-icon-button [matMenuTriggerFor]="menu">
								  <mat-icon>more_vert</mat-icon>
								</button>
								<mat-menu #menu="matMenu">
								  <button mat-menu-item>
								    <mat-icon>dialpad</mat-icon>
								    <span>Redial</span>
								  </button>
								  <button mat-menu-item>
								    <mat-icon>voicemail</mat-icon>
								    <span>Check voicemail</span>
								  </button>
								  <button mat-menu-item>
								    <mat-icon>notifications_off</mat-icon>
								    <span>Disable alerts</span>
								  </button>
								</mat-menu>

						  	</div><!--end mess-menu-->
						  	<p class="time">5 min</p>
						  	</div><!--end inner-box-->

						  	<div class="inner-box">
						  	<div class="user-img"><img src="assets/images/candidate-img.png"></div>
						  	<div class="user-detail">
						  		<h4>Matt Thompson</h4>
						  		<p>Thanks again you have been...</p>
						  	</div><!--end user-detail-->
						  	<div class="mess-menu">
						  		<button mat-icon-button [matMenuTriggerFor]="menu">
								  <mat-icon>more_vert</mat-icon>
								</button>
								<mat-menu #menu="matMenu">
								  <button mat-menu-item>
								    <mat-icon>dialpad</mat-icon>
								    <span>Redial</span>
								  </button>
								  <button mat-menu-item>
								    <mat-icon>voicemail</mat-icon>
								    <span>Check voicemail</span>
								  </button>
								  <button mat-menu-item>
								    <mat-icon>notifications_off</mat-icon>
								    <span>Disable alerts</span>
								  </button>
								</mat-menu>

						  	</div><!--end mess-menu-->
						  	<p class="time">5 min</p>
						  	</div><!--end inner-box-->

						  	<div class="inner-box">
						  	<div class="user-img"><img src="assets/images/candidate-img.png"></div>
						  	<div class="user-detail">
						  		<h4>Matt Thompson</h4>
						  		<p>Thanks again you have been...</p>
						  	</div><!--end user-detail-->
						  	<div class="mess-menu">
						  		<button mat-icon-button [matMenuTriggerFor]="menu">
								  <mat-icon>more_vert</mat-icon>
								</button>
								<mat-menu #menu="matMenu">
								  <button mat-menu-item>
								    <mat-icon>dialpad</mat-icon>
								    <span>Redial</span>
								  </button>
								  <button mat-menu-item>
								    <mat-icon>voicemail</mat-icon>
								    <span>Check voicemail</span>
								  </button>
								  <button mat-menu-item>
								    <mat-icon>notifications_off</mat-icon>
								    <span>Disable alerts</span>
								  </button>
								</mat-menu>

						  	</div><!--end mess-menu-->
						  	<p class="time">5 min</p>
						  	</div><!--end inner-box-->

						  	<div class="inner-box">
						  	<div class="user-img"><img src="assets/images/candidate-img.png"></div>
						  	<div class="user-detail">
						  		<h4>Matt Thompson</h4>
						  		<p>Thanks again you have been...</p>
						  	</div><!--end user-detail-->
						  	<div class="mess-menu">
						  		<button mat-icon-button [matMenuTriggerFor]="menu">
								  <mat-icon>more_vert</mat-icon>
								</button>
								<mat-menu #menu="matMenu">
								  <button mat-menu-item>
								    <mat-icon>dialpad</mat-icon>
								    <span>Redial</span>
								  </button>
								  <button mat-menu-item>
								    <mat-icon>voicemail</mat-icon>
								    <span>Check voicemail</span>
								  </button>
								  <button mat-menu-item>
								    <mat-icon>notifications_off</mat-icon>
								    <span>Disable alerts</span>
								  </button>
								</mat-menu>

						  	</div><!--end mess-menu-->
						  	<p class="time">5 min</p>
						  	</div><!--end inner-box-->

						  	<div class="inner-box">
						  	<div class="user-img"><img src="assets/images/candidate-img.png"></div>
						  	<div class="user-detail">
						  		<h4>Matt Thompson</h4>
						  		<p>Thanks again you have been...</p>
						  	</div><!--end user-detail-->
						  	<div class="mess-menu">
						  		<button mat-icon-button [matMenuTriggerFor]="menu">
								  <mat-icon>more_vert</mat-icon>
								</button>
								<mat-menu #menu="matMenu">
								  <button mat-menu-item>
								    <mat-icon>dialpad</mat-icon>
								    <span>Redial</span>
								  </button>
								  <button mat-menu-item>
								    <mat-icon>voicemail</mat-icon>
								    <span>Check voicemail</span>
								  </button>
								  <button mat-menu-item>
								    <mat-icon>notifications_off</mat-icon>
								    <span>Disable alerts</span>
								  </button>
								</mat-menu>

						  	</div><!--end mess-menu-->
						  	<p class="time">5 min</p>
						  	</div><!--end inner-box-->
						  </div><!--end message-user-->
						  </mat-tab>
						  <mat-tab label="Tab 2">
						  	<ng-template mat-tab-label>
					          <span class="fa fa-user-plus"></span>
					        </ng-template>
						  <div class="message-user">
						  	<div class="inner-box">
						  	<div class="user-img"><img src="assets/images/candidate-img.png"></div>
						  	<div class="user-detail">
						  		<h4>Matt Thompson</h4>
						  		<p>Thanks again you have been...</p>
						  	</div><!--end user-detail-->
						  	<div class="mess-menu">
						  		<button mat-icon-button [matMenuTriggerFor]="menu">
								  <mat-icon>more_vert</mat-icon>
								</button>
								<mat-menu #menu="matMenu">
								  <button mat-menu-item>
								    <mat-icon>dialpad</mat-icon>
								    <span>Redial</span>
								  </button>
								  <button mat-menu-item>
								    <mat-icon>voicemail</mat-icon>
								    <span>Check voicemail</span>
								  </button>
								  <button mat-menu-item>
								    <mat-icon>notifications_off</mat-icon>
								    <span>Disable alerts</span>
								  </button>
								</mat-menu>

						  	</div><!--end mess-menu-->
						  	<p class="time">5 min</p>
						  	</div><!--end inner-box-->

						  	<div class="inner-box">
						  	<div class="user-img"><img src="assets/images/candidate-img.png"></div>
						  	<div class="user-detail">
						  		<h4>Matt Thompson</h4>
						  		<p>Thanks again you have been...</p>
						  	</div><!--end user-detail-->
						  	<div class="mess-menu">
						  		<button mat-icon-button [matMenuTriggerFor]="menu">
								  <mat-icon>more_vert</mat-icon>
								</button>
								<mat-menu #menu="matMenu">
								  <button mat-menu-item>
								    <mat-icon>dialpad</mat-icon>
								    <span>Redial</span>
								  </button>
								  <button mat-menu-item>
								    <mat-icon>voicemail</mat-icon>
								    <span>Check voicemail</span>
								  </button>
								  <button mat-menu-item>
								    <mat-icon>notifications_off</mat-icon>
								    <span>Disable alerts</span>
								  </button>
								</mat-menu>

						  	</div><!--end mess-menu-->
						  	<p class="time">5 min</p>
						  	</div><!--end inner-box-->

						  	<div class="inner-box">
						  	<div class="user-img"><img src="assets/images/candidate-img.png"></div>
						  	<div class="user-detail">
						  		<h4>Matt Thompson</h4>
						  		<p>Thanks again you have been...</p>
						  	</div><!--end user-detail-->
						  	<div class="mess-menu">
						  		<button mat-icon-button [matMenuTriggerFor]="menu">
								  <mat-icon>more_vert</mat-icon>
								</button>
								<mat-menu #menu="matMenu">
								  <button mat-menu-item>
								    <mat-icon>dialpad</mat-icon>
								    <span>Redial</span>
								  </button>
								  <button mat-menu-item>
								    <mat-icon>voicemail</mat-icon>
								    <span>Check voicemail</span>
								  </button>
								  <button mat-menu-item>
								    <mat-icon>notifications_off</mat-icon>
								    <span>Disable alerts</span>
								  </button>
								</mat-menu>

						  	</div><!--end mess-menu-->
						  	<p class="time">5 min</p>
						  	</div><!--end inner-box-->

						  	<div class="inner-box">
						  	<div class="user-img"><img src="assets/images/candidate-img.png"></div>
						  	<div class="user-detail">
						  		<h4>Matt Thompson</h4>
						  		<p>Thanks again you have been...</p>
						  	</div><!--end user-detail-->
						  	<div class="mess-menu">
						  		<button mat-icon-button [matMenuTriggerFor]="menu">
								  <mat-icon>more_vert</mat-icon>
								</button>
								<mat-menu #menu="matMenu">
								  <button mat-menu-item>
								    <mat-icon>dialpad</mat-icon>
								    <span>Redial</span>
								  </button>
								  <button mat-menu-item>
								    <mat-icon>voicemail</mat-icon>
								    <span>Check voicemail</span>
								  </button>
								  <button mat-menu-item>
								    <mat-icon>notifications_off</mat-icon>
								    <span>Disable alerts</span>
								  </button>
								</mat-menu>

						  	</div><!--end mess-menu-->
						  	<p class="time">5 min</p>
						  	</div><!--end inner-box-->

						  	<div class="inner-box">
						  	<div class="user-img"><img src="assets/images/candidate-img.png"></div>
						  	<div class="user-detail">
						  		<h4>Matt Thompson</h4>
						  		<p>Thanks again you have been...</p>
						  	</div><!--end user-detail-->
						  	<div class="mess-menu">
						  		<button mat-icon-button [matMenuTriggerFor]="menu">
								  <mat-icon>more_vert</mat-icon>
								</button>
								<mat-menu #menu="matMenu">
								  <button mat-menu-item>
								    <mat-icon>dialpad</mat-icon>
								    <span>Redial</span>
								  </button>
								  <button mat-menu-item>
								    <mat-icon>voicemail</mat-icon>
								    <span>Check voicemail</span>
								  </button>
								  <button mat-menu-item>
								    <mat-icon>notifications_off</mat-icon>
								    <span>Disable alerts</span>
								  </button>
								</mat-menu>

						  	</div><!--end mess-menu-->
						  	<p class="time">5 min</p>
						  	</div><!--end inner-box-->

						  	<div class="inner-box">
						  	<div class="user-img"><img src="assets/images/candidate-img.png"></div>
						  	<div class="user-detail">
						  		<h4>Matt Thompson</h4>
						  		<p>Thanks again you have been...</p>
						  	</div><!--end user-detail-->
						  	<div class="mess-menu">
						  		<button mat-icon-button [matMenuTriggerFor]="menu">
								  <mat-icon>more_vert</mat-icon>
								</button>
								<mat-menu #menu="matMenu">
								  <button mat-menu-item>
								    <mat-icon>dialpad</mat-icon>
								    <span>Redial</span>
								  </button>
								  <button mat-menu-item>
								    <mat-icon>voicemail</mat-icon>
								    <span>Check voicemail</span>
								  </button>
								  <button mat-menu-item>
								    <mat-icon>notifications_off</mat-icon>
								    <span>Disable alerts</span>
								  </button>
								</mat-menu>

						  	</div><!--end mess-menu-->
						  	<p class="time">5 min</p>
						  	</div><!--end inner-box-->
						  </div><!--end message-user-->
						  </mat-tab>
						</mat-tab-group>
						

						<div class="oldermessage-box">
							<p>Looking for older messages?</p>
							<a href="">view all rooms & people</a>
						</div><!--end oldermessage-box-->
						</div><!--end message-left-->
					</div><!--end col-->

					<div class="col col-lg-9 col-md-12 col-sm-12 col-xs-12">
						<div class="message-right">
							<div class="top-menus">
								<ul>
									<li>
										<h5>Chetan Sharma - Techwi...</h5>
										<p>Education app <span>11:57 am</span></p>
									</li>
									<li><a href=""><span class="fa fa-star"></span></a></li>
									<!-- <li><a href=""><span class="fa fa-phone"></span></a></li>
									<li><a href=""><span class="fa fa-video-camera"></span></a></li> -->
									<li class="button"><button class="hire-btn" mat-button>hire agency</button></li>
									<li class="button"><button class="hire-btn" mat-button>view proposal</button></li>
									<li class="last-icon"><a href=""><span class="fa fa-file"></span></a></li>
									<li class="last-icon"><a href=""><span class="fa fa-television"></span></a></li>
									<li class="last-icon"><a href=""><span class="fa fa-user-plus"></span></a></li>
									<li>
										<div class="messright-menu">
						  		<button mat-icon-button [matMenuTriggerFor]="menu">
								  <mat-icon>more_vert</mat-icon>
								</button>
								<mat-menu #menu="matMenu">
								  <button mat-menu-item>
								    <mat-icon>dialpad</mat-icon>
								    <span>Redial</span>
								  </button>
								  <button mat-menu-item>
								    <mat-icon>voicemail</mat-icon>
								    <span>Check voicemail</span>
								  </button>
								  <button mat-menu-item>
								    <mat-icon>notifications_off</mat-icon>
								    <span>Disable alerts</span>
								  </button>
								</mat-menu>

						  	</div><!--end mess-menu-->
									</li>
								</ul>
							</div><!--end top-menus-->

							<div class="main-message">

								<div *ngIf="displayMsg.length > 0">
									<ng-container *ngFor="let msg of displayMsg">
										<div [ngClass]="(msg.user_id==current_id) ? 'owner-user' : 'other-user'">
											<div class="user-img"><img src="http://13.126.158.210:82/api/users/avatar?id={{msg.user_id}}"><p class="time-txt">{{ msg.current_date_time | date : 'shortTime' }}</p></div>
											<p class="msg-txt"><span class="arrow-right"></span>{{ msg.message }}</p>
										</div>
									</ng-container>
								</div>

								<form class="message-composer">
								  <mat-form-field class="example-full-width">
								  <span class="form-icon"><i class="fa fa-paperclip"></i></span>
								   <input matInput placeholder="Type your message..." #to_send_msg>
								   <button class="comment_btn" (click)="sendMessage();"><mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">send</mat-icon><span class="chat-arrow"></span></button>
								   <span class="smiley"><i class="material-icons">sentiment_satisfied</i></span>
								  </mat-form-field>
								</form>
							</div><!--end main-message-->
							<div class="main-notepad">
								<h3>personal notepad</h3>
								<p class="note-txt">Use this space to save your thoughts however you’d like: </p>

								<mat-list role="list">
								  <mat-list-item role="listitem"><span>1.</span>Prepare talking points for the interview </mat-list-item>
								  <mat-list-item role="listitem"><span>2.</span>Record questions for later follow-up</mat-list-item>
								  <mat-list-item role="listitem"><span>3.</span>Organize project plans and deliverable dates</mat-list-item>
								  <mat-list-item role="listitem"><span>4.</span>Make note of the freelancer’s strengths and weaknesses </mat-list-item>
								  <mat-list-item role="listitem"><span>5.</span>Prepare talking points for the interview </mat-list-item>
								  <mat-list-item role="listitem"><span>6.</span>Record questions for later follow-up</mat-list-item>
								  <mat-list-item role="listitem"><span>7.</span>Organize project plans and deliverable dates</mat-list-item>
								  <mat-list-item role="listitem"><span>8.</span>Make note of the freelancer’s strengths and weaknesses </mat-list-item>
								</mat-list>

								<div class="bottom-block">
								<p>Notes you type are only visible to you, and can always be accessed through your messages with this freelancer.</p>
								<p>Notes are saved automatically as you type.</p>
								<div class="bottom-link">
									<div><a href="">Notes Beta - Leave feedback</a></div>
								</div><!--end bottom-link-->
								</div><!--end bottom-block-->
							</div><!--end main-message-->
						</div><!--end message-right-->
					</div><!--end col-->
				</div><!--end row-->
			</div><!--end container-->
		</div><!--end messages-block-->


</div><!--end messages_wrap-->
