
<div class="model_main">
	<div class="shortcut-title">
		<h5>Keyboard Shortcuts</h5>
	</div>
<div class="modal-body tips">
	<div class="row">
		<div class="col-md-3">Search All:</div>
		<div class="col-md-9"><b>Ctrl + Shift + F</b></div>
	</div>
	<div class="row">
		<div class="col-md-3">Search in Room:</div>
		<div class="col-md-9"><b>Ctrl + F</b></div>
	</div>
	<div class="row">
		<div class="col-md-3">Previous Room:</div>
		<div class="col-md-9"><b>Alt + ↑</b></div>
	</div>
	<div class="row">
		<div class="col-md-3">Next Room:</div>
		<div class="col-md-9"><b>Alt + ↓</b></div>
	</div>
	<div class="row">
		<div class="col-md-3">Shortcut Help:</div>
		<div class="col-md-9"><b>Alt + ?</b></div>
	</div>
</div>

<div class="dialogClose">
		<a (click)="onCancel();"> <mat-icon>close</mat-icon></a>
	</div>
</div>