<div class="category_mainwrap messages_wrap">
  <div class="breadcrumb_wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h4>Messages</h4>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </div>
  <!--end breadcrumb_wrap-->
  <div class="messages-block">
    <div class="container-fluid">
      <div class="row">
        <div class="col col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <div class="message-left">
            <button class="top-iconbtn" [matMenuTriggerFor]="settings" mat-button><span class="fa fa-cog"></span></button>
            <mat-menu #settings="matMenu">
			  <button mat-button (click)="settingPopup();">
			  	<span>Settings</span>
			  </button>
			  <button mat-button (click)="shortPopup();">
			  	<span>Shortcut Keys</span>
			  </button>
			</mat-menu>
            <button class="top-iconbtn top-righticon" mat-button (click)="addroom();"><span class="fa fa-user"></span></button>
            <form class="leftmessage-form">
              <mat-form-field class="example-full-width">
                <span class="form-icon"><i class="fa fa-search"></i></span>
                <input matInput placeholder="Search" (keyup.enter)="getrecentroombysearch($event);">
              </mat-form-field>
            </form>
            <mat-tab-group>
              <mat-tab label="Tab 1">
                <ng-template mat-tab-label>
                  <span class="fa fa-commenting"></span>
                </ng-template>
                <div class="message-user" *ngIf="recent_room_list.length>0">

                <ng-container *ngFor="let recent_room of recent_room_list">
                  <div class="inner-box">
                    <span class="active"></span>
                    <!-- <div class="user-img"><img src="assets/images/candidate-img.png"></div> -->
                    <div class="user-detail">
                      <h4><a routerLink="/chat-room/{{recent_room.id}}">{{recent_room.room_name}}</a></h4>
                      <!-- <p>Thanks again you have been...</p> -->
                    </div>
                    <!--end user-detail-->
                    <p class="time">{{recent_room.new_date_format}}</p>
                  </div>
              </ng-container>
                  <!--end inner-box-->
                </div>
                <!--end message-user-->
              </mat-tab>
              <mat-tab label="Tab 2">
                <ng-template mat-tab-label>
                  <span class="fa fa-user-plus"></span>
                </ng-template>
                <div class="message-user">
                  <div class="inner-box">
                    <div class="user-img"><img src="assets/images/candidate-img.png"></div>
                    <div class="user-detail">
                      <h4>Matt Thompson</h4>
                      <p>Thanks again you have been...</p>
                    </div>
                    <!--end user-detail-->
                    <div class="mess-menu">
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                          <mat-icon>dialpad</mat-icon>
                          <span>Redial</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>voicemail</mat-icon>
                          <span>Check voicemail</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>notifications_off</mat-icon>
                          <span>Disable alerts</span>
                        </button>
                      </mat-menu>
                    </div>
                    <!--end mess-menu-->
                    <p class="time">5 min</p>
                  </div>
                  <!--end inner-box-->
                  <div class="inner-box">
                    <div class="user-img"><img src="assets/images/candidate-img.png"></div>
                    <div class="user-detail">
                      <h4>Matt Thompson</h4>
                      <p>Thanks again you have been...</p>
                    </div>
                    <!--end user-detail-->
                    <div class="mess-menu">
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                          <mat-icon>dialpad</mat-icon>
                          <span>Redial</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>voicemail</mat-icon>
                          <span>Check voicemail</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>notifications_off</mat-icon>
                          <span>Disable alerts</span>
                        </button>
                      </mat-menu>
                    </div>
                    <!--end mess-menu-->
                    <p class="time">5 min</p>
                  </div>
                  <!--end inner-box-->
                  <div class="inner-box">
                    <div class="user-img"><img src="assets/images/candidate-img.png"></div>
                    <div class="user-detail">
                      <h4>Matt Thompson</h4>
                      <p>Thanks again you have been...</p>
                    </div>
                    <!--end user-detail-->
                    <div class="mess-menu">
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                          <mat-icon>dialpad</mat-icon>
                          <span>Redial</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>voicemail</mat-icon>
                          <span>Check voicemail</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>notifications_off</mat-icon>
                          <span>Disable alerts</span>
                        </button>
                      </mat-menu>
                    </div>
                    <!--end mess-menu-->
                    <p class="time">5 min</p>
                  </div>
                  <!--end inner-box-->
                  <div class="inner-box">
                    <div class="user-img"><img src="assets/images/candidate-img.png"></div>
                    <div class="user-detail">
                      <h4>Matt Thompson</h4>
                      <p>Thanks again you have been...</p>
                    </div>
                    <!--end user-detail-->
                    <div class="mess-menu">
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                          <mat-icon>dialpad</mat-icon>
                          <span>Redial</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>voicemail</mat-icon>
                          <span>Check voicemail</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>notifications_off</mat-icon>
                          <span>Disable alerts</span>
                        </button>
                      </mat-menu>
                    </div>
                    <!--end mess-menu-->
                    <p class="time">5 min</p>
                  </div>
                  <!--end inner-box-->
                  <div class="inner-box">
                    <div class="user-img"><img src="assets/images/candidate-img.png"></div>
                    <div class="user-detail">
                      <h4>Matt Thompson</h4>
                      <p>Thanks again you have been...</p>
                    </div>
                    <!--end user-detail-->
                    <div class="mess-menu">
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                          <mat-icon>dialpad</mat-icon>
                          <span>Redial</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>voicemail</mat-icon>
                          <span>Check voicemail</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>notifications_off</mat-icon>
                          <span>Disable alerts</span>
                        </button>
                      </mat-menu>
                    </div>
                    <!--end mess-menu-->
                    <p class="time">5 min</p>
                  </div>
                  <!--end inner-box-->
                  <div class="inner-box">
                    <div class="user-img"><img src="assets/images/candidate-img.png"></div>
                    <div class="user-detail">
                      <h4>Matt Thompson</h4>
                      <p>Thanks again you have been...</p>
                    </div>
                    <!--end user-detail-->
                    <div class="mess-menu">
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                          <mat-icon>dialpad</mat-icon>
                          <span>Redial</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>voicemail</mat-icon>
                          <span>Check voicemail</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>notifications_off</mat-icon>
                          <span>Disable alerts</span>
                        </button>
                      </mat-menu>
                    </div>
                    <!--end mess-menu-->
                    <p class="time">5 min</p>
                  </div>
                  <!--end inner-box-->
                </div>
                <!--end message-user-->
              </mat-tab>
            </mat-tab-group>
            <div class="oldermessage-box">
              <p>Looking for older messages?</p>
              <a routerLink="/messages">view all rooms & people</a>
            </div>
            <!--end oldermessage-box-->
          </div>
          <!--end message-left-->
        </div>
        <!--end col-->
        <div class="col col-lg-9 col-md-12 col-sm-12 col-xs-12">
          <div class="message-right">
            <div class="top-menus">
              <ul>
                <li>
                  <h5>{{ current_room }}</h5>
                  <p><span>{{ created_current_room | date : 'medium' }}</span></p>
                </li>
                <li><a href=""><span class="fa fa-star"></span></a></li>
                <!-- <li><a href=""><span class="fa fa-phone"></span></a></li>
									<li><a href=""><span class="fa fa-video-camera"></span></a></li> -->
                <li class="button">
                  <button class="hire-btn" mat-button>hire agency</button>
                </li>
                <li class="button">
                  <button class="hire-btn" mat-button>view proposal</button>
                </li>
                <li class="last-icon"><a href="javascript:void(0);" (click)="closeSearch();" ><span class="fa fa-file"></span></a></li>
                <li class="last-icon"><a href="javascript:void(0);" (click)="closeFiles();" ><span class="fa fa-folder"></span></a></li>
                <li class="last-icon"><a href=""><span class="fa fa-user-plus"></span></a></li>
              </ul>
            </div>

            <!--end top-menus-->          
            <div #scrollMe class="main-message" data-infinite-scroll debounce [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance"
        [infiniteScrollThrottle]="throttle" (scrolledUp)="onScrollUp()" [scrollWindow]="false">
              <div *ngIf="displayMsg.length > 0">

                  <table>
                    <tr *ngFor="let row of push_dates;">
                      <td *ngFor="let row_msg of displaymg[row];">{{row_msg.current_date}}</td>
                    </tr>
                  </table>


                <ng-container *ngFor="let msg of displayMsg">
                  <div class="{{hide_class}}" [ngClass]="(msg.user_id==current_id) ? 'owner-user' : 'other-user'" id="msg_container_{{msg.msg_id}}">

                    <p *ngIf="msg.current_date!=''">{{msg.current_date}}</p>

                  	<ng-container *ngFor="let qtemsg of msg.message_info">
		              	<div class="">
		                    <div class="user-img"><img src="{{user_avatar_url}}?id={{qtemsg.user}}">
		                      <p class="time-txt">{{ qtemsg.created | date : 'medium' }}</p>
		                    </div>
		                    <p class="msg-txt"><span [innerHTML]="qtemsg.chat_message | formatString"></span>
		                    </p>
		                    <ng-container *ngFor="let qtnfsinfo of qtemsg.file_info">
		                      <a href="{{ qtnfsinfo.file_ext | fileFormat:qtnfsinfo.file:'url' }}" target="_blank">
		                        <p> <img src="{{ qtnfsinfo.file_ext | fileFormat:qtnfsinfo.file:'img' }}">
		                          <br/> {{ qtnfsinfo.file_name }} <br/>{{ qtnfsinfo.file_size|bytes }} </p>
		                      </a>
		                    </ng-container>
		                </div>
		            </ng-container>

                    <div class="user-img"><img src="{{user_avatar_url}}?id={{msg.user_id}}">
                      <p class="time-txt">{{ msg.current_date_time | date : 'shortTime' }}</p>
                    </div>
                    <p class="msg-txt"><span [ngClass]="(msg.user_id==current_id) ? 'arrow-right' : 'arrow-left'"></span><span [innerHTML]="msg.message | formatString"></span>
                    </p>
                    <ng-container *ngFor="let fsinfo of msg.file_info">
                      <a href="{{ fsinfo.file_ext | fileFormat:fsinfo.file:'url' }}" target="_blank">
                        <p> <img src="{{ fsinfo.file_ext | fileFormat:fsinfo.file:'img' }}">
                          <br/> {{ fsinfo.file_name }} <br/>{{ fsinfo.file_size|bytes }} </p>
                      </a>
                    </ng-container>
	                    <mat-menu #msg_menu="matMenu">
		                  <ng-container *ngIf="msg.user_id==current_id">    
	                      	<button mat-menu-item (click)="dlmsg(msg.msg_id)">Delete</button>
	                  	  </ng-container>
						  <button mat-menu-item (click)="qtemsg(msg.msg_id)">Quote</button>
						</mat-menu>
                    	<button mat-icon-button [matMenuTriggerFor]="msg_menu">
					  <mat-icon>more_vert</mat-icon>
					</button>
                  </div>
                </ng-container>
              </div>
              <div *ngIf="displayTyping.length > 0">
                <ng-container *ngFor="let user_name of displayTyping">
                  <p *ngIf="typing_status">{{ user_name }} is typing...</p>
                </ng-container>
              </div>
              <input type='file' (change)="readUrl($event)" multiple="" #msgfs>
              <div *ngIf="url.length > 0">
                <ng-container *ngFor="let preview of url; let j = index">
                  <a href="javascript:void(0);" (click)="removefiles(j);"><i class="material-icons">clear</i></a>
                  <p><img [src]="preview.img" width="100" height="100">
                    <br/>{{ preview.file_name }}
                    <br/>{{ preview.size|bytes }}
                  </p>
                </ng-container>
              </div>

              	
              	<ng-container *ngFor="let qtemsg of prevQteMsg let k = index">
              	<a href="javascript:void(0);" (click)="removeqte(k);"><i class="material-icons">clear</i></a>
              	<div class="">
                    <div class="user-img"><img src="{{user_avatar_url}}?id={{qtemsg.user}}">
                      <p class="time-txt">{{ qtemsg.created | date : 'medium' }}</p>
                    </div>
                    <p class="msg-txt"><span></span><span [innerHTML]="qtemsg.chat_message | formatString"></span>
                    </p>
                    <ng-container *ngFor="let fsinfo of qtemsg.file_info">
                      <a href="{{ fsinfo.file_ext | fileFormat:fsinfo.file:'url' }}" target="_blank">
                        <p> <img src="{{ fsinfo.file_ext | fileFormat:fsinfo.file:'img' }}">
                          <br/> {{ fsinfo.file_name }} <br/>{{ fsinfo.file_size|bytes }} </p>
                      </a>
                    </ng-container>
                </div>
            </ng-container>
              

              <form class="message-composer">
                <mat-form-field class="example-full-width">
                  <mat-menu #emoji_menu="matMenu">
                    <ul class="nav nav-tabs nav-emoji">
                      <li><a href="javascript:void(0);" (click)="select(':point_up:')" ng-mouseover="hover(':point_up:')" emoji=":point_up:"><img src="assets/images/emoji/261d.png"></a></li>
                      <li><a href="javascript:void(0);" (click)="select(':heart:')" ng-mouseover="hover(':heart:')" emoji=":heart:">
	<img src="assets/images/emoji/2665.png"></a></li>
                      <li><a href="javascript:void(0);" (click)="select(':thumbsup:')" ng-mouseover="hover(':thumbsup:')" emoji=":thumbsup:">
	<img src="assets/images/emoji/1f44d.png"></a></li>
                      <li><a href="javascript:void(0);" (click)="select(':thumbsdown:')" ng-mouseover="hover(':thumbsdown:')" emoji=":thumbsdown:"><img src="assets/images/emoji/1f44e.png"></a></li>
                      <li><a href="javascript:void(0);" (click)="select(':grin:')" ng-mouseover="hover(':grin:')" emoji=":grin:">
	<img src="assets/images/emoji/1f601.png"></a></li>
                      <li><a href="javascript:void(0);" (click)="select(':smile:')" ng-mouseover="hover(':smile:')" emoji=":smile:">
	<img src="assets/images/emoji/1f604.png"></a></li>
                      <li><a href="javascript:void(0);" (click)="select(':laughing:')" ng-mouseover="hover(':laughing:')" emoji=":laughing:">
	<img src="assets/images/emoji/1f606.png"></a></li>
                      <li><a href="javascript:void(0);" (click)="select(':wink:')" ng-mouseover="hover(':wink:')" emoji=":wink:">
	<img src="assets/images/emoji/1f609.png"></a></li>
                      <li><a href="javascript:void(0);" (click)="select(':unamused:')" ng-mouseover="hover(':unamused:')" emoji=":unamused:">
	<img src="assets/images/emoji/1f612.png"></a></li>
                      <li><a href="javascript:void(0);" (click)="select(':pensive:')" ng-mouseover="hover(':pensive:')" emoji=":pensive:">
	<img src="assets/images/emoji/1f614.png"></a></li>
                      <li><a href="javascript:void(0);" (click)="select(':stuck_out_tongue_winking_eye:')" ng-mouseover="hover(':stuck_out_tongue_winking_eye:')" emoji=":stuck_out_tongue_winking_eye:">
	<img src="assets/images/emoji/1f61c.png"></a></li>
                      <li><a href="javascript:void(0);" (click)="select(':stuck_out_tongue_closed_eyes:')" ng-mouseover="hover(':stuck_out_tongue_closed_eyes:')" emoji=":stuck_out_tongue_closed_eyes:">
	<img src="assets/images/emoji/1f61d.png"></a></li>
                      <li><a href="javascript:void(0);" (click)="select(':disappointed:')" ng-mouseover="hover(':disappointed:')" emoji=":disappointed:">
	<img src="assets/images/emoji/1f61e.png"></a></li>
                      <li><a href="javascript:void(0);" (click)="select(':grinning:')" ng-mouseover="hover(':grinning:')" emoji=":grinning:">
	<img src="assets/images/emoji/1f600.png"></a></li>
                      <li><a href="javascript:void(0);" (click)="select(':neutral_face:')" ng-mouseover="hover(':neutral_face:')" emoji=":neutral_face:">
	<img src="assets/images/emoji/1f610.png"></a></li>
                      <li><a href="javascript:void(0);" (click)="select(':expressionless:')" ng-mouseover="hover(':expressionless:')" emoji=":expressionless:">
	<img src="assets/images/emoji/1f611.png"></a></li>
                      <li><a href="javascript:void(0);" (click)="select(':confused:')" ng-mouseover="hover(':confused:')" emoji=":confused:">
	<img src="assets/images/emoji/1f615.png"></a></li>
                      <li><a href="javascript:void(0);" (click)="select(':stuck_out_tongue:')" ng-mouseover="hover(':stuck_out_tongue:')" emoji=":stuck_out_tongue:">
	<img src="assets/images/emoji/1f61b.png"></a></li>
                      <li><a href="javascript:void(0);" (click)="select(':fearful:')" ng-mouseover="hover(':fearful:')" emoji=":fearful:">
	<img src="assets/images/emoji/1f628.png"></a></li>
                      <li><a href="javascript:void(0);" (click)="select(':no_mouth:')" ng-mouseover="hover(':no_mouth:')" emoji=":no_mouth:">
	<img src="assets/images/emoji/1f636.png"></a></li>
                    </ul>
                  </mat-menu>
                  <span class="form-icon"><i class="fa fa-paperclip"></i></span>
                  <input matInput placeholder="Type your message..." #to_send_msg (input)="onTypingChange($event.target.value)" autocomplete="off">
                  <button class="comment_btn" (click)="sendMessage();">
                    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">send</mat-icon><span class="chat-arrow"></span></button>
                  <a href="javascript:void(0);" [matMenuTriggerFor]="emoji_menu"><span class="smiley"><i class="material-icons">sentiment_satisfied</i></span></a>
                </mat-form-field>
              </form>
            </div>
            <!--end main-message-->
            <div class="main-notepad" (click)="clickedInside($event)" *ngIf="notes_block">
              <h3>personal notepad</h3>
              <div *ngIf="default_notes">
              <a href="javascript:void(0);" (click)="showNotes(1);"><p class="note-txt">Use this space to save your thoughts however you’d like: </p>
              <mat-list role="list">
                <mat-list-item role="listitem"><span>1.</span>Prepare talking points for the interview </mat-list-item>
                <mat-list-item role="listitem"><span>2.</span>Record questions for later follow-up</mat-list-item>
                <mat-list-item role="listitem"><span>3.</span>Organize project plans and deliverable dates</mat-list-item>
                <mat-list-item role="listitem"><span>4.</span>Make note of the freelancer’s strengths and weaknesses </mat-list-item>
                <mat-list-item role="listitem"><span>5.</span>Prepare talking points for the interview </mat-list-item>
                <mat-list-item role="listitem"><span>6.</span>Record questions for later follow-up</mat-list-item>
                <mat-list-item role="listitem"><span>7.</span>Organize project plans and deliverable dates</mat-list-item>
                <mat-list-item role="listitem"><span>8.</span>Make note of the freelancer’s strengths and weaknesses </mat-list-item>
                <p>Notes you type are only visible to you, and can always be accessed through your messages with this freelancer.</p>
                <p>Notes are saved automatically as you type.</p>
              </mat-list></a>
             </div>

              <div *ngIf="saved_notes">
              <a href="javascript:void(0);" (click)="showNotes(2);"><p>{{saved_notes_db}}</p></a>
              </div>

              <div *ngIf="textarea_notes">
              <textarea cols="30" [ngModel]="saved_notes_db" (ngModelChange)="personalNoteaction($event)" (keyup)="onKeyUp($event)"></textarea>
              </div>


              <div class="bottom-block">
                <div class="bottom-link">
                  <div><a href="">Notes Beta - Leave feedback</a></div>
                </div>                
              </div>
            </div>

             <div class="main-notepad" *ngIf="files_block">
              <div *ngIf="isFiles" class="files_block">
	              <h3>Files</h3>
	              	<ng-container *ngFor="let firinfo of filesInfo">
	              	 <div *ngFor="let fs_info of firinfo.file_info">
					  	<a href="{{ fs_info.file_ext | fileFormat:fs_info.file:'url' }}" target="_blank">
	                    	<p> <img src="{{ fs_info.file_ext | fileFormat:fs_info.file:'img' }}">
	                      <br/> {{ fs_info.file_name }} <br/>{{ fs_info.file_size|bytes }} </p>
	                  	</a>
	                  </div>
					 </ng-container>
					 <div *ngIf="loadMorebtn"><a href="javascript:void(0);" (click)="loadMorefiles(current_room_id);">Load More</a></div>

					 <div *ngIf="norecords && filesInfo.length==0">No records found</div>
              </div>
              <div *ngIf="isSearch">
              		<a href="javascript:void(0);" (click)="closeSearch();"><i class="material-icons">clear</i></a>
	              <h3>Search</h3>
	              <input type="text" [(ngModel)]="search_text" [ngModelOptions]="{standalone: true}" (keyup.enter)="search($event)" placeholder="Enter search text" class="form-control" id="search_id">
		           <button (click)="searchaction()">
		              <mat-icon>search</mat-icon>
		           </button>
		            <ng-container *ngIf="displaySearchMsg.length==0">
		            	<p>No records found</p>
		            </ng-container>
		           	<ng-container *ngFor="let shmsg of displaySearchMsg">
		              	<div class="">
		                    <div class="user-img"><img src="{{user_avatar_url}}?id={{shmsg.user_id}}">
		                      <p class="time-txt">{{ shmsg.current_date_time | date : 'medium' }}</p>
		                    </div>
		                    <p class="msg-txt"><span></span><span [innerHTML]="shmsg.message | formatString"></span>
		                    </p>
		                    <ng-container *ngFor="let sfsinfo of shmsg.file_info">
		                      <a href="{{ sfsinfo.file_ext | fileFormat:sfsinfo.file:'url' }}" target="_blank">
		                        <p> <img src="{{ sfsinfo.file_ext | fileFormat:sfsinfo.file:'img' }}">
		                          <br/> {{ sfsinfo.file_name }} <br/>{{ sfsinfo.file_size|bytes }} </p>
		                      </a>
		                    </ng-container>
		                </div>
		            </ng-container>

              </div>
            </div>

            <!--end main-message-->
          </div>
          <!--end message-right-->
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </div>
  <!--end messages-block-->
</div>
<!--end messages_wrap-->
