.hidden { display: none; }
.upload-image-container { display: inline-block; width:100%; position: relative; }
.upload-image-container a.close_btn { width:30px; height:30px; padding:4px; color:#fff; background-color: #4A154B; border-radius: 50%; }
.file_select {display: inline-block; margin-bottom: 0; float:left; position: relative; top: 12px;padding: 0 10px; cursor: pointer;}
.file_select .material-icons { font-size: 30px; color:#4A154B;}
.category_mainwrap input::-webkit-input-placeholder {color: #b5b8b8!important;}
.category_mainwrap input:-moz-placeholder { color: #b5b8b8!important;  }
ul{margin:0;padding: 0;}
li{list-style: none;}
.msg-txt.wrap-text span a { color:#fff; }
.message_input {display: inline-block; width: 92%; padding: 2% 9% 3% 3%;}
.mat-menu-item .material-icons { position: relative; top:6px; }
:host /deep/ a { color:#ffffff; }
.main-notepad div a p {color: #4A154B;font-weight:bold;text-transform: capitalize;}
.main-notepad div a p span { position: relative;top:2px;}
:host /deep/ .other-user p.msg-txt span a { color: #4A154B; text-decoration: underline; }
:host /deep/ .display_quote p.msg-txt span a  { color:#fff; text-decoration: underline; }
.category_mainwrap .breadcrumb_wrap{background-color: #4A154B;padding: 35px 0;}
.category_mainwrap .breadcrumb_wrap h4{font-size: 32px;font-family: 'HelveticaNeue-Medium';color: #fff;text-transform: capitalize;margin:0;letter-spacing: 1px;}
.category_mainwrap .search-category{float: right;}
.category_mainwrap .search-category span.form-icon{position: absolute;height: 100%; background: transparent; width: 40px; text-align: center; padding-top: 10px;padding-left: 4px;color: #4A154B;cursor: pointer;}
.category_mainwrap .search-category input.form-control{height: 45px;border-radius: 30px;padding-left: 40px;font-family: 'HelveticaNeue';font-size: 16px;color: #3d3d3d;letter-spacing: 1px;line-height: 45px;}
.smiley_icon {position: absolute;right:75px;bottom:20px;display: block;}
.message-left{background-color: #2b323a;height: 100%;padding: 48px 0;}
:host /deep/ .message-left .mat-tab-header {display: flex; overflow: hidden;position: relative; flex-shrink: 0; right: 0; top: 0px; border-bottom: none; width: 100%;}
:host /deep/ .message-left .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination { display: none;}
:host /deep/ .message-left .mat-tab-label { width:50%;height: 40px; padding: 0 10px; cursor: pointer;box-sizing: border-box; opacity: 1; min-width: 100px;text-align: center;display: inline-flex; justify-content: center; align-items: center; white-space: nowrap;text-transform: capitalize;letter-spacing: 1px; position: relative; color: #fff; min-width: 65px;}
:host /deep/ .message-left .mat-tab-label.mat-tab-label-active{background: #363d45;color: #fff;    border: 1px solid #4a5158;border-top-left-radius: 20px;border-bottom-left-radius: 20px; min-width: 65px;}
:host /deep/ .message-left .mat-tab-label.mat-tab-label-active:last-child{background: #363d45;color: #fff;    border: 1px solid #4a5158;border-top-right-radius: 20px;border-bottom-right-radius: 20px; border-top-left-radius: 0; border-bottom-left-radius: 0;}
:host /deep/ .message-left .mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus{background-color: #363d45;}
:host /deep/ .message-left .mat-tab-group.mat-primary .mat-ink-bar{background-color: transparent;}
:host /deep/ .message-left .mat-tab-label-container { display: flex; flex-grow: 1; overflow: hidden; z-index: 1; border: 1px solid #3f444b; border-radius: 30px; }
:host /deep/ .message-left .mat-tab-group { display: block; flex-direction: column; }
.files_block{ overflow-y: auto; height: 810px; }
/*:host /deep/ .message-left .demo-tab-content{background-color: #f9f9f9;padding: 15px 20px 30px;margin-bottom: 20px;border-bottom:1px solid #ededed;}
:host /deep/ .message-left.demo-tab-content:hover{box-shadow: 6px 10px 22px #ddd;}*/
button.top-iconbtn{float: left; min-width: inherit; color: #555a61; border: 1px solid #555a61; border-radius: 50%; width: 30px; height: 30px; padding: 0; line-height: 29px; outline: none; margin-right: 10px; margin-top: 7px; margin-left: 45px;}
button.top-iconbtn.top-righticon{position: absolute;top: 48px; left: 185px; float: left;}
.message-user{border-top: 1px solid #3f444b;padding-top: 20px;margin-top: 80px;    padding: 20px 10px;}
.message-user .inner-box{position: relative;display: inline-block;width: 100%;margin-bottom: 25px;}
.message-user .user-img{width: 45px;height: auto;float: left;margin-right: 10px;border-bottom: 1px solid #3f444b;padding-bottom: 25px;}
.message-user .user-img img{width: 45px;height: 45px;border-radius: 50%;object-fit: cover;}
.message-user .user-detail h4{font-family: 'HelveticaNeue-Medium';font-size: 16px;    margin-bottom: 2px;color: #fff;text-transform: capitalize;}
.message-user .user-detail p{font-family: 'HelveticaNeue';font-size: 14px;color: #abacae;}
.message-user .inner-box p.time{position: absolute;right: 10px;bottom: 15px;font-size: 11px;font-family: 'HelveticaNeue';color: #fff;}
.mess-menu{position: absolute;right: 0;top: -14px;color: #fff;}
.leftmessage-form{position: absolute;left: 0; right: 0; display: table;margin: 0 auto; width: 100%; text-align: center; margin-top: 35px;z-index: 99;}
:host /deep/ .leftmessage-form .mat-form-field-infix.mat-form-field-infix {display: block;position: relative;flex: auto;min-width: 0; width: 100%;border: 1px solid #363d45; height: 40px;border-radius: 30px; /* line-height: 29px; */padding: 10px 17px 0 40px; font-family: 'HelveticaNeue'; font-size: 15px; margin-top: 20px;background: #363d45;color: #fff;}
:host /deep/ .leftmessage-form .mat-form-field {display: inline-block; position: relative;text-align: left; width: 85%;}
:host /deep/ .leftmessage-form .mat-form-field-label { color: #5b5b5b;top: 23px; left: 10px; font-family: 'HelveticaNeue'; font-size: 0px;}
:host /deep/ .leftmessage-form .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {display: block; top: 19px; left: 0;font-family: 'HelveticaNeue'; font-size: 0px; /*color: #5b5b5b;*/}
:host /deep/ .leftmessage-form .mat-form-field-ripple {background-color: transparent;}
:host /deep/ .leftmessage-form .mat-form-field-underline { background-color: transparent;}
form.leftmessage-form span.form-icon{position: absolute;left: 13px;}
span.active{background-color: #2dc100;width: 5px;height: 5px;border-radius: 50%;display: inline-block; position: absolute;top: -5px;left: 0;}
.message-right{height: 100%;}
.message-right .top-menus{height: 80px;border-bottom: 1px solid #ddd;padding-top: 0px;    white-space: nowrap;padding-left: 20px;}
.message-right .top-menus ul li { vertical-align: middle; display: inline-block;margin-right: 0px;padding-right: 25px;margin-top: 0px;}
.message-right .top-menus ul li:first-child { width:32%;}
.message-right .top-menus ul li h5{font-size: 14px;color: #293037;font-family: 'HelveticaNeue';text-transform: capitalize;margin-bottom: 1px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.message-right .top-menus ul li p{font-size: 14px;color: #293037;font-family: 'HelveticaNeue';font-weight: 300;margin-bottom:0px;}
.message-right .top-menus ul li p span{font-size: 10px;}
.message-right .top-menus ul li span.fa{font-size: 30px;color: #4A154B;}
.message-right .top-menus ul li.button{margin-right: 0px;padding-right: 15px;}
.message-right .top-menus ul li button.hire-btn{background-color: #27AB6B;line-height: 46px;width: 100%;color: #fff;font-size: 15px;font-family: 'HelveticaNeue';border-radius: 4px;text-transform: capitalize;box-shadow: 0px 0px 10px #000;}
.message-right .top-menus ul li button.hire-btn:hover{background-color: #fff;color: #27AB6B;}
.message-right .top-menus ul li:nth-of-type(2), .message-right .top-menus ul li:nth-of-type(3), .message-right .top-menus ul li:nth-of-type(4){display: inline-block; margin-right: 25px; padding-right: 25px; border-right: 1px solid #ddd; line-height: 80px; top: 2px;position: relative;}
.message-right .top-menus ul li:nth-of-type(2){border-left: 1px solid #ddd; padding-left: 25px;}
.messright-menu{position: absolute;right: 5px;top: 18px;color: #272e35;}
.message-right .top-menus ul li.last-icon span{color: #272e35;font-size: 22px;}
.messright-menu button{width: auto;} 
.message-right .top-menus ul li.last-icon{/*padding-right: 20px;*/}
.message-right .top-menus ul li:last-child{/*padding-right: 0;*/}
.message-right .main-message{width: 65%;float: left;height: 810px;padding: 30px 20px 0; overflow: scroll;}
/* .message-right .main-notepad{width: 35%;float: left;background-color: #fff;height: 91.9%;position:relative;padding: 38px 20px;} */
.message-right .main-notepad{width: 100%;background-color: #fff;position:relative;padding: 38px 20px 100px 20px;}
.message-right .main-message .other-user{margin-bottom: 0px;display: inline-block;width: 100%;}
.other-user .user-img{text-align:center;float: left;margin-right: 30px;width: 40px;margin-top: 10px;}
.other-user .user-img p.time-txt{font-family: 'HelveticaNeue-Medium';font-size: 9px;color: #293037;text-align: center;}
.other-user .user-img img{width: 35px;height: 35px;border-radius: 50%;object-fit: cover;margin-bottom: 10px;}
.other-user div ~ .quote_message { width: 100%; display: inline-block; padding-left: 30px; }
.other-user p.msg-txt{overflow-wrap: break-word;background-color: #e0e0e0;position:relative;padding: 22px 20px;float: left;max-width: 70%;border-radius: 5px;color: #000;font-family: 'HelveticaNeue';font-size: 14px;}
.owner-user p.msg-txt span.arrow-right {overflow-wrap: break-word;width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left: 8px solid #4A154B;display: inline-block; position: absolute;right: -8px;top: 20px;}
.other-user p.msg-txt span.arrow-left {overflow-wrap: break-word;width: 0;height: 0;border-top: 8px solid transparent;border-bottom: 8px solid transparent;display: inline-block;border-right: 8px solid #e0e0e0; position: absolute;left: -8px;top: 20px;}
.owner-user p.msg-txt span.arrow-right .span {overflow-wrap: break-word;width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left: 8px solid #4A154B;display: inline-block; position: absolute;right: -8px;top: 20px;}
.other-user p.msg-txt span.arrow-left .span {overflow-wrap: break-word;width: 0;height: 0;border-top: 8px solid transparent;border-bottom: 8px solid transparent;display: inline-block;border-right: 8px solid #e0e0e0; position: absolute;left: -8px;top: 20px;}

.message-right .main-message .owner-user{margin-bottom: 0px;display: inline-block;width: 100%;}


.owner-user .user-img{text-align:center;float: right;margin-left: 30px;width: 40px; margin-top: 10px;}
.owner-user .user-img p.time-txt{font-family: 'HelveticaNeue-Medium';font-size: 9px;color: #000;text-align: center;}
.owner-user .user-img img{width: 35px;height: 35px;border-radius: 50%;object-fit: cover;margin-bottom: 10px;}
.owner-user p.msg-txt{background-color: #4A154B;position:relative;padding: 22px 20px;float: right;max-width: 70%;border-radius: 5px;color: #fff;font-family: 'HelveticaNeue';font-size: 14px;}
.owner-user p.msg-txt span a {overflow-wrap: break-word; text-decoration: underline; }

.display_quote .user-img{text-align:center;float: left;margin-left:0;width: 85px; margin-top:0;}
.display_quote .user-img p.time-txt{font-family: 'HelveticaNeue-Medium';font-size: 9px;color: #000;text-align: center;}
.display_quote .user-img img{width: 35px;height: 35px;border-radius: 50%;object-fit: cover;margin-bottom: 10px;}
.display_quote p.msg-txt{background-color: #878787;position:relative;padding: 22px 20px;float: left;max-width: 70%;border-radius: 5px;color: #fff;font-family: 'HelveticaNeue';font-size: 14px;}
.display_quote p.msg-txt span a { text-decoration: underline; }

.owner-user div ~ .quote_message { width: 100%; display: inline-block; padding-right: 30px; }
.chat-date { font-size: 16px; display: inline-block; width: 100%;  position: relative; text-align: center; border-top: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8; padding: 10px 5px; color: #4A154B;}
.display_quote { position: relative; display: inline-block;}
.close_icon {color: #ffffff;float: left;background-color: #4A154B;width: 25px;height: 25px;border-radius: 50%;padding: 1px; font-size: 12px;}
.close_icon .material-icons { font-size:16px;padding:4px; }
.display_quote .user-img img{width: 50px;height: 50px; border-radius: 50%; margin-bottom: 10px;}
.display_quote .time-txt { margin-bottom:0; font-size:12px; }
.display_quote .msg-txt.wrap-text { margin-bottom:0; font-size: 14px; }
.display_quote .msg-txt.wrap-text a { color: #4A154B; }
.hide {display: none !important;}
.message-composer{position: absolute; /* left: 0; */ /* right: 0; */ display: table; margin: 0 auto; width: 61%;bottom: 0;text-align: center;margin-top: 35px;z-index: 99;}
:host /deep/ .message-composer .mat-form-field-infix.mat-form-field-infix {display: block;position: relative;flex: auto; min-width: 0;width: 100%; border-top: 1px solid #d5d9dc;height: 80px; border-radius: 0px; /* line-height: 29px; */ padding: 20px 107px 20px 50px; font-family: 'HelveticaNeue';font-size: 15px;margin-top: 20px; background: #f1f2f4;color: #343434;margin-left: -20px;margin-right: -20px;}
:host /deep/ .message-composer .mat-form-field {display: inline-block; position: relative;text-align: left; width: 100%;}
:host /deep/ .message-composer .mat-form-field-label { color: #5b5b5b; top: 23px; left: 10px; font-family: 'HelveticaNeue'; font-size: 0px;}
:host /deep/ .message-composer .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {display: block; top: 19px; left: 0; font-family: 'HelveticaNeue'; font-size: 0px;    /*color: #5b5b5b;*/ }
:host /deep/ .message-composer .mat-form-field-ripple { background-color: transparent;}
:host /deep/ .message-composer .mat-form-field-underline { background-color: transparent;}
:host /deep/ .message-composer .mat-form-field-wrapper { position: relative;padding-bottom: 0;}
.main-notepad h3{font-size: 18px;color: #272d34;text-transform: capitalize;font-family: 'HelveticaNeue';}
form.message-composer span.form-icon{position: absolute;left: 13px;cursor: pointer;font-size: 25px;top:30px;color: #4A154B;}
p.note-txt{font-size: 14px;color: #000000;text-transform: capitalize;font-family: 'HelveticaNeue';font-weight: 300;}
:host /deep/ .main-notepad .mat-list-item{height: auto;padding-bottom: 30px;}
:host /deep/ .main-notepad .mat-list-item-content{padding: 0;font-family: 'HelveticaNeue';font-size: 14px;color: #343434;}
:host /deep/ .main-notepad .mat-list span{color: #343434;}
.main-notepad .bottom-block{position: absolute;bottom: 0;width: 90%;}
.main-notepad .bottom-block .bottom-link{height: 80px; border-top: 1px solid #d5d9dc;position: relative;top: 0px; margin-left: -20px; margin-right: -15px; text-align: center;padding-top: 22px;}
.main-notepad .bottom-block .bottom-link a{color: #4A154B;font-family: 'HelveticaNeue';font-size: 14px;}
.main-notepad .bottom-block p{font-family: 'HelveticaNeue';font-size: 14px;color: #000;}
.oldermessage-box{border: 1px solid #454a50;text-align: center;padding: 50px 0;margin: 0 20px;border-radius: 10px;}
.oldermessage-box p{font-size: 14px;color: #fff;font-family: 'HelveticaNeue';color: #fff;margin-bottom: 0;}
.oldermessage-box a{display: inline-block;width: 100%;text-transform: capitalize;color: #4A154B;font-family: 'HelveticaNeue';font-size: 14px;}
button.comment_btn{border: 0 none;position: absolute;width: 38px;height: 38px; right: 15px; top: 21px; cursor: pointer; outline: none; background: #4A154B; border-radius: 50%;color: #fff;line-height: 47px;}
button.pending_comment_send{border: 0 none;position: absolute;width: 38px;height: 38px; right: 15px; top: 21px; cursor: pointer; outline: none; background: #27AB6B; border-radius: 50%;color: #fff;line-height: 47px;}
button.comment_btn .mat-icon{font-size: 22px;}
button.comment_btn:hover { background: #ae2950; color:#fff; }
span.smiley{color:#ae2950;float: right; position: relative; display: inline-block; right: auto; text-align: right;cursor: pointer;}
.chat_msg_img {/* width: 100px; height: 100px; */object-fit: cover; width:auto; max-width:360px; height:200px;}
.message-right .main-message .other-user{ display: block; width: 100%;  float: left; position: relative;}
.message-right .main-message .owner-user{display: block;width: 100%;float: left;position: relative;}
.other-user .mat-icon-button {position: absolute;right: 10px;top: 3px; color:#fff; background-color:#4A154B;}
.owner-user h1,.other-user h1 {font-size: 13px;color:#4A154B;font-weight:600;font-family: 'HelveticaNeue-Medium';display:inline-block;vertical-align:top;}
.owner-user h1 span,.other-user h1 span {font-size: 13px;color: #abacae;font-size:400;font-family: 'HelveticaNeue';display:inline-block;vertical-align:top;margin-top:2px;}
.message-right .main-message {width: 100%; height: 100vh; overflow-y: auto;overflow-x: hidden;margin-bottom: 80px;}
.message-composer{ width: 100%; left:0px; background: #fff; overflow: hidden; }
:host /deep/ .message-composer .mat-form-field-infix.mat-form-field-infix { margin-left: 0;margin-right: 0;}
.message-composer .form-icon input[type="file"] { display: block;width: 100%; left: 0px; top: 0px; height: 100%; opacity: 0; cursor: pointer; }
.message-composer .form-icon {width: 22px;height: 28px;overflow: hidden;}
.chat_preview_block .preview_image{width:100%;height:100%;display:inline-block;vertical-align:middle;}
.chat_preview_block{ width: 100%; display: block; position: relative; background-color: #fff; padding: 5px; box-shadow: 0 1px 6px rgba(57,73,76,.35); margin: 5px 2px; border-radius: 2px; float: left; }
.close_btn{ position:absolute; right:10px; top:5px; color: #4A154B; }
:host /deep/ .message-composer .mat-form-field-infix { margin-top: 0px !important; }
.preview_image_right{ width: 80%; display: inline-block; text-align: left; padding-top: 0px; vertical-align: top; float: left; width: calc(100% - 88px); overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.preview_image_right h1 { color: #222; font-size: 13px; font-weight:600; font-family: 'HelveticaNeue-Medium'; text-overflow: ellipsis; width: 100%; overflow: hidden;  padding-top: 5px; }
.preview_image_right h2 { font-size: 13px; color: #abacae; font-size:400; font-family: 'HelveticaNeue';}
.preview_image_left { display: inline-block; width: 50px; height: 50px; vertical-align: top; float: left; margin-right: 10px; margin-bottom: 0px; }
.chat_preview{position:relative;}
.message-right{position: relative;}  
.message-composer{display: inline-block;}
.quoted_text {float: left;width: 100%;background: #F2F2F2;padding: 10px;}
.owner-user .mat-icon-button,.other-user .mat-icon-button {position: absolute;top: 10px;z-index: 9;}
.owner-user .mat-icon-button {left: 0px;right: auto;}
.other-user .mat-icon-button{right: 0px;left: auto;}
.input_text{height: auto !important;position: relative;padding: 10px 12px;border: 1px solid #e0e0e0;border-radius: 2px;background-color: #fff;}
.smiley_a_tag{position: absolute;width: 24px; height: 24px;right: 67px;top: 29px;cursor: pointer;outline: none;border-radius: 50%;color: #A0A0A0;line-height: normal;}
.nav.nav-tabs.nav-emoji { min-width: 278px; max-width: 278px;display: block;padding: 5px;border-bottom: 0px solid #ddd; border: 2px solid #fff;border-radius: 6px;-webkit-box-shadow: 0 1px 8px rgba(57,73,76,0.35); box-shadow: 0 1px 8px rgba(57,73,76,0.35);}
.nav.nav-tabs.nav-emoji li {list-style: none;margin-left: 2px; display: inline-block; vertical-align: top;}
::ng-deep .mat-menu-panel.emoji_menu_block{top: -118px !important; position: absolute;display: inline-block;right: 68px;left: auto;width: 278px;}
::ng-deep .emoji_menu_block .mat-menu-content {padding: 0px !important;}
.nav.nav-tabs.nav-emoji li img {vertical-align: middle;width: 22px;height: 22px;}
.nav.nav-tabs.nav-emoji li a {padding: 4px;display: block; border-radius: 2px;  position: relative;}
.nav.nav-tabs.nav-emoji li a:hover {text-decoration: none;background-color: #F2F2F2;}

ul.people-list { margin-bottom:0px; padding-left:0px; margin:0 10px; width:150px; text-align: center; display: inline-block; position: relative; }
ul.people-list li { list-style: none;  }
ul.people-list li p { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 100%; }
ul.people-list li a { background-color: #4A154B; color:#fff; border-radius: 50%; width: 30px;height: 30px;padding: 3px;display: inline-block; margin:0 10px; }
ul.people-list li img { width:100px; height:100px;}
.personal-field { width:100%; }
.personal-field .mat-form-field { width:100%; }
.message-composer { position: fixed; }

@media (max-width: 767px)
{
ul.message_userlist li a { white-space: unset; }
.message-right { margin:20px 0; height:auto;  }
.col{flex-basis: inherit;}
.message-right .top-menus { height: auto; border-bottom: 1px solid #ddd; padding-top: 20px;white-space: normal; padding-left: 20px;}
.message-right .main-message {width: 100%;float: none; height: auto; padding: 30px 20px 20px;}
.message-right .main-notepad {width: 100%;float: none;background-color: #fff;height: auto;position: relative;padding: 38px 20px;}
.main-notepad .bottom-block {position: relative;bottom: 0;width: 100%;}
.message-right .top-menus ul{text-align: center;padding:20px 0;}
.message-right .top-menus ul li {vertical-align: middle;display: inline-block;margin-right: 0px;padding-right: 25px;margin-top: -22px;text-align: center;margin-bottom: 20px;}
.messright-menu {position: absolute;right: 20px;top: 18px;color: #272e35;}
.message-right .top-menus ul li:nth-of-type(2) {border-left: none;padding-left: 25px;}
.message-right .top-menus ul li:first-child { width:100%; }
.message-right .top-menus ul li:nth-of-type(2), 
.message-right .top-menus ul li:nth-of-type(3), 
.message-right .top-menus ul li:nth-of-type(4) { border-right: none; margin-right:10px; padding-right: 0px; margin-bottom:0px;}
.message-right .top-menus ul li button.hire-btn { font-size: 12px; }
button.top-iconbtn.top-righticon {position: absolute;top: 48px;left: 200px;float: left;}
.messages_wrap .messages-block  app-sidebar{display:none; }
.message-right .top-menus{ display: none;}

::ng-deep .mat-menu-panel.emoji_menu_block{ position: absolute;display: inline-block;right: 68px;left: auto;width: 278px;}
::ng-deep .emoji_menu_block .mat-menu-content {padding: 0px !important;}
.message_input {display: inline-block; width: 92%; padding: 7% 9% 6% 3%;}
:host /deep/ .message-composer .mat-form-field-infix.mat-form-field-infix {display: flex;position: relative;flex: auto; min-width: 0;width: 100%; border-top: 1px solid #d5d9dc;height: 80px; border-radius: 0px; /* line-height: 29px; */
     padding:13px 100px 15px 2px; font-family: 'HelveticaNeue';font-size: 15px;margin-top: 20px; background: #f1f2f4;color: #343434;margin-left: -20px;margin-right: -20px;}
}
:host /deep/ .message-composer .mat-form-field-wrapper { position: relative;padding-bottom: 0;padding:0px 7px 2px 7px;}
.file_select {display: inline-block; margin-bottom: 0; float:left; position: relative; top: 12px;padding: 6px 10px; cursor: pointer;}
.file_select .material-icons { font-size: 30px; color:#4A154B;}
@media (min-width: 768px) and (max-width: 991px)
{
.col{flex-basis: inherit;}
.message-right .top-menus ul li{padding-right: 5px;}
.message-right .top-menus ul li:nth-of-type(2) {border-left: 1px solid #ddd;padding-left: 10px;}
.message-right .top-menus ul li:nth-of-type(2), .message-right .top-menus ul li:nth-of-type(3), .message-right .top-menus ul li:nth-of-type(4){padding-right: 10px;margin-right: 10px;}
.message-right .top-menus ul li span.fa {font-size: 25px;}
.message-right .top-menus ul li.last-icon span.fa {color: #272e35;font-size: 20px;}
.message-right .top-menus ul{display: table;margin:0 auto;}
.messright-menu{right: 15px;}
button.top-iconbtn.top-righticon { position: absolute;top: 48px;left: 198px;float: left;}
.message-right .main-message {width: 100%;float: left;height: auto;padding: 30px 20px 0; }
.message-right .main-notepad{width: 40%;height: 92.9%;}
.messages_wrap .messages-block  app-sidebar{display:none; }
.message-right .top-menus{ display: none;}
:host /deep/ .message-composer .mat-form-field-infix.mat-form-field-infix {display: flex;position: relative;flex: auto; min-width: 0;width: 100%; border-top: 1px solid #d5d9dc;height: 80px; border-radius: 0px; /* line-height: 29px; */
    padding:16px 34px 20px 25px; font-family: 'HelveticaNeue';font-size: 15px;margin-top: 20px; background: #f1f2f4;color: #343434;margin-left: -20px;margin-right: -20px;}

}

@media (min-width: 992px) and (max-width: 1199px)
{
.message-right .top-menus {height: auto;border-bottom: 1px solid #ddd;padding-top: 0px;white-space: normal;padding-left: 20px;}
.message-right .top-menus ul li:first-child { width: 40%; margin-top:0px;}
.message-right .top-menus ul li{padding-right: 5px; vertical-align: middle;}
.message-right .top-menus ul li:nth-of-type(2) {border-left: 1px solid #ddd;padding-left: 10px;}
.message-right .top-menus ul li:nth-of-type(2), .message-right .top-menus ul li:nth-of-type(3), .message-right .top-menus ul li:nth-of-type(4){padding-right: 10px;margin-right: 10px;}
.message-right .top-menus ul li span.fa {font-size: 20px;}
.message-right .top-menus ul li.last-icon span.fa {color: #272e35;font-size: 18px;}
.messages_wrap .messages-block .container-fluid {padding-right: 0px;padding-left: 0px;}
.messages_wrap .messages-block .col{padding: 0;}
.messages_wrap .messages-block .row{margin-left: 0;margin-right: 0;}
button.top-iconbtn{margin-left: 19px;}
.message-user .user-detail p {font-family: 'HelveticaNeue';font-size: 14px;color: #abacae;white-space: nowrap;max-width: 55%;overflow: hidden;text-overflow: ellipsis;}
.message-composer { position: fixed; left: 25%; width: 75%; }
.message-right[_ngcontent-c6] .main-notepad[_ngcontent-c6]{height: 92.6%;}
.message-right .top-menus{ display: none;}
:host /deep/ .message-composer .mat-form-field-infix.mat-form-field-infix {display: flex;position: relative;flex: auto; min-width: 0;width: 100%; border-top: 1px solid #d5d9dc;height: 80px; border-radius: 0px; /* line-height: 29px; */
    padding:20px 75px 12px 40px;; font-family: 'HelveticaNeue';font-size: 15px;margin-top: 20px; background: #f1f2f4;color: #343434;margin-left: -20px;margin-right: -20px;}

}


.wrap-text{white-space: pre-wrap;}

@media (min-width: 1200px)
{
.messages_wrap .messages-block .container-fluid {padding-right: 0px;padding-left: 0px;}
.messages_wrap .messages-block .col{padding: 0;}
.messages_wrap .messages-block .row{margin-left: 0;margin-right: 0;}
.message-composer { position: fixed; left: 25%; width: 75%; }
}

@media (max-width:575px)
{
.message-right .top-menus ul li:nth-of-type(3), .message-right .top-menus ul li:nth-of-type(4) { width:100%; }
.message-right .top-menus ul li button.hire-btn { margin-bottom:50px; }
}