<div>
    <div class="model_main"> 
      <div class="modal-header">
        <h4 class="modal-title">{{popupTitle}} Other Experience</h4>
        <button (click)="onclickcancel()"><mat-icon>close</mat-icon></button>
      </div>
      <form [formGroup]="otherExperienceForm">
      <div class="modal-body">      
        <div class="profile-leftblock">        
          <div>
            <div class="form-group">
                <label>Subject</label>
                <input class="form-control" formControlName="subject">
                <div class="text-danger text-left small" *ngIf="errorMsg">{{geterrorMsg('subject') || this.errorMsgArr['subject']}}</div>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" formControlName="description"></textarea>
                <div class="text-danger text-left small" *ngIf="errorMsg">{{geterrorMsg('description') || this.errorMsgArr['description']}}</div>              
            </div>
          </div>
        </div>
      </div>
      <div>
        <button class="save-btn" (click)="saveOtherExp(otherExperienceForm.value)">Save</button>
        <button class="cancel-btn" (click)="onclickcancel()">Cancel</button>
      </div>
    </form>
    </div>
</div>
