<div class="breadcrumb_wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>Forgot Password</h4>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</div>
<!--end breadcrumb_wrap-->

<div class="login_maincontent">
    <div class="login-maincontent-inner">
        <!--start login_maincontent innerblock-->
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h5 class="top-backbtn"><a routerLink="/"><span><i class="fa fa-arrow-left"></i></span>Back to home screen</a></h5>
                </div>
                <!--end col-->

                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">


                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <div class="item">
                                <div class="item">
                                    <h4>Remote Nepal</h4>
                                    <h5>Reset Your Password</h5>
                                    <div class="login-img"><img src="assets/images/login-img.png" class="img-fluid"></div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-carousel>

                </div>
                <!--end col-->

                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="login-box">
                        <form [formGroup]="forgetForm" (ngSubmit)="passwordSubmit(forgetForm.value)">
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="New Password" formControlName="password" required>
                                <div class="text-danger text-left small" *ngIf="errorMsg">{{geterrorMsg('password') || this.errorMsgArr['password']}}</div>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirm_password" required>
                                <div class="text-danger text-left small" *ngIf="errorMsg">{{geterrorMsg('confirm_password') || this.errorMsgArr['confirm_password']}}</div>
                            </div>

                            <!--end form-group-->
                            <div class="bottom-btn">
                                <div class="forgot_txt"><a routerLink="/login"><span><i class="fa fa-arrow-left"></i></span> Back to Login</a></div>
                                <div class="submit-btn"><button type="submit" [disabled]="isbuttondisable">Submit</button></div>
                            </div>
                            <!--end bottom-btn-->


                        </form>
                    </div>
                    <!--end login-box-->
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </div>
    <!--end login_maincontent innerblock-->
</div>
<!--end login_maincontent-->