.container { display: flex; flex-direction: column; }
.container > * {  width: 100%; }
.delete-popup{ margin-top: 19px; padding-bottom: 30px; width:100%; text-align: center; }
.delete-popup h3{text-align: center;}
.delete-popup button{background-color: #4A154B;color: #fff;border: none;}
.mat-dialog-actions { width:100%; text-align: center; display: inline-block; }