<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <div class="footer-menu">
                    <ul>
                        <li><a routerLink="/pages/about-us">about us</a></li>
                        <li><a routerLink="/pages/terms">terms of service</a></li>
                        <li><a routerLink="/pages/polices">privacy policy</a></li>
                    </ul>
                </div>
                <!--end footer-menu-->
            </div>
            <!--end col-->

            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="social-links">
                    <ul>
                        <li><a target="_blank" href="https://www.facebook.com/remotenepal"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                    <p class="copy-txt">Copyright © {{year}} Remote Nepal All Rights Reserved</p>
                </div>
                <!--end social-links-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</footer>