/* Milestone detail page design start */
*{font-family: 'HelveticaNeue';}
* i{font: normal normal normal 14px/1 FontAwesome;}
* span.fa{font: normal normal normal 14px/1 FontAwesome;}
.category_mainwrap input::-webkit-input-placeholder {color: #b5b8b8!important;}
.category_mainwrap input:-moz-placeholder { color: #b5b8b8!important; }
.left.profile-img { text-align: center;}
.activated { color:green;}
ul{margin:0;padding: 0;}
li{list-style: none;}
:host /deep/ .freelancer-data { padding: 10px 25px; }
.milestone-table td.mat-cell { padding:10px; word-break: break-word; }
.category_mainwrap .breadcrumb_wrap{background-color: #4A154B;padding: 35px 0;}
.category_mainwrap .breadcrumb_wrap h4{font-size: 32px;font-family: 'HelveticaNeue-Medium';color: #fff;text-transform: capitalize;margin:0;}
.category_mainwrap .search-category{float: right;}
.category_mainwrap .search-category span.form-icon{position: absolute;height: 100%; background: transparent; width: 40px; text-align: center; padding-top: 10px;padding-left: 4px;color: #4A154B;cursor: pointer;}
.category_mainwrap .search-category input.form-control{height: 45px;border-radius: 30px;padding-left: 40px;font-family: 'HelveticaNeue';font-size: 16px;color: #3d3d3d;letter-spacing: 1px;line-height: 45px;}
.category_mainwrap .postjob-details{padding: 35px 0;}
.category_mainwrap .postjob-details .postjob-inner{background-color: #fff;width: 100%;-webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);box-shadow: 0 1px 6px rgba(57,73,76,0.35);padding-bottom: 25px;margin-bottom: 30px;}
.category_mainwrap .postjob-details .postjob-inner:last-child{margin-bottom: 0;}
.category_mainwrap .postjob-details .postjob-inner h5{padding: 25px;margin: 0;font-family: 'HelveticaNeue-Medium';font-size: 20px;text-transform: capitalize;border-bottom: 1px solid #ddd;position: relative;}
.category_mainwrap .postjob-details .postjob-inner .content-section{padding: 20px 30px 0;}
.category_mainwrap .postjob-details .postjob-inner .content-section .form-group label{width: 100%;}
.category_mainwrap .postjob-details .postjob-inner .content-section.steptwo-section{width: 70%;display: inline-block;}
:host /deep/ .steptwo-section .mat-radio-label { cursor: pointer; display: inline-flex; align-items: center; white-space: nowrap;vertical-align: middle;box-shadow: 0 1px 30px #cccbcb;line-height: 46px;width: 100%;    display: inline-block;text-align: center;border-radius: 7px;    padding: 3px 32px;    color: rgb(101, 101, 101);text-transform: uppercase;font-family: 'HelveticaNeue-Medium';font-size: 13px;text-decoration: none;}
:host /deep/ .steptwo-section .mat-radio-checked .mat-radio-label {background-color: #4A154B;color: #fff;}
:host /deep/ .steptwo-section .mat-radio-label .mat-radio-container{opacity: 0;display: none;}
:host /deep/ .steptwo-section .mat-radio-button { display: inline-block; width: 49%;margin-bottom: 15px;padding: 0 15px 0 0;}
:host /deep/ .steptwo-section .mat-radio-button:last-child {margin-bottom: 15px;padding: 0;width: 47%;}
:host /deep/ .radio-style .mat-radio-label {cursor: pointer; display: inline-flex;align-items: center; white-space: nowrap; vertical-align: middle; box-shadow: 0 1px 30px #cccbcb;line-height: 46px;width: 100%;    display: inline-block;text-align: center;border-radius: 7px;    padding: 3px 32px;    color: rgb(101, 101, 101);text-transform: uppercase;font-family: 'HelveticaNeue-Medium';font-size: 13px;text-decoration: none;}
:host /deep/ .radio-style .mat-radio-checked .mat-radio-label {background-color: #4A154B;color: #fff;}
:host /deep/ .radio-style .mat-radio-label .mat-radio-container{opacity: 0;display: none;}
:host /deep/ .radio-style .mat-radio-button { display: inline-block; width: 24%; margin-bottom: 15px;padding: 0 15px 0 0;}
:host /deep/ .radio-style .mat-radio-button:last-child {margin-bottom: 15px; padding: 0;}
:host /deep/ .radio-style .mat-checkbox-label { cursor: pointer;display: inline-flex;align-items: center; white-space: nowrap;vertical-align: middle;box-shadow: 0 1px 30px #cccbcb;line-height: 46px;width: 100%;    display: inline-block;text-align: center;border-radius: 7px;    padding: 3px 32px;    color: rgb(101, 101, 101);text-transform: uppercase;font-family: 'HelveticaNeue-Medium';font-size: 13px;text-decoration: none; }
:host /deep/ .radio-style .mat-checkbox-checked .mat-checkbox-label {background-color: #4A154B;color: #fff;}
:host /deep/ .radio-style .mat-checkbox-label .mat-checkbox-container{opacity: 0;display: none;}
:host /deep/ .radio-style .mat-checkbox-button { display: inline-block;width: 24%;margin-bottom: 15px;padding: 0 15px 0 0;}
:host /deep/ .radio-style .mat-checkbox-button:last-child {margin-bottom: 15px;padding: 0;}
:host /deep/ .radio-style .mat-checkbox-inner-container{opacity: 0;display: none;}
:host /deep/ .mat-radio-button {display: inline-block;width: 100%;}
.m-sm-bottom{font-family: 'HelveticaNeue';font-weight: normal;}
.m-sm-bottom button b{font-family: 'HelveticaNeue';font-weight: normal;color: #4A154B;cursor: pointer;text-decoration: none;}
.mat-form-field{width: 100%;}
.bottom-btn button{font-family: 'HelveticaNeue';font-size: 14px;background: #4A154B;color: #fff;font-weight: normal;margin-right:10px;}
.expansion-body .form-group{display: inline-block;width: 46%;margin-right: 39px;}
.category_mainwrap .postjob-details .postjob-inner .content-section .form-group label { width: 100%;/* color: #333; *//* font-weight: bold; */font-family: 'HelveticaNeue-medium';}
.category_mainwrap .postjob-details .postjob-inner .content-section .form-group label button{background: #4A154B; color: #fff;min-width: 20px;border-radius: 50%;height: 20px;width: 20px;padding: inherit; line-height: 19px;position: relative;left: 5px;top: -2px;}
.postjob-fulldesc{padding: 55px 0;}
.postjob-fulldesc .postjob-details{padding: 0 0 30px;}
.left-selected span.fa.fa-check{color: #fff; background: #008329; font-size: 10px; width: 18px; height: 18px;  text-align: center; display: inline-block; line-height: 18px; border-radius: 50%;margin-right: 10px;}
.left-selected button{background: #4A154B; color: #fff; min-width: 40px;  border-radius: 50%; height: 40px;  width: 40px; padding: inherit; line-height: 40px;position: relative;left: 15px;top: -2px;}
.left-selected{padding: 30px 20px 0;position: relative;}
.vertical-align-middle{position: absolute;right: 20px;top: 34px;}
.vertical-align-middle a{color: #4A154B;}
.vertical-align-middle a span{margin-right: 5px;}
.profile-img { width: 12%; display: inline-block;  vertical-align: middle; }
.profile-img img{  width: 98px; height: 98px;  border-radius: 50%; border: 1px solid #484848;}
.profile-name {  width: 88%;  display: inline-block; vertical-align: middle;  margin-top: 0;}
.profile-name h1{ text-transform: capitalize; font-family: 'HelveticaNeue-Medium'; font-size: 16px; color: #343434; margin: 0; }
.skills_block { border: 0 solid #ced0da; width: 100%; display: block; padding:0; }
.postjob-inner label, .postjob-inner .mat-label { width: 100%; font-family: 'HelveticaNeue-medium'; }
.margin-top-block{ margin-top:20px; }
form {  width: 100%; }
.mat-button { font-family: 'HelveticaNeue'; font-size: 14px; background: #4A154B; color: #fff; font-weight: normal; margin-right: 10px; }
.anchor-tag a { color: #292b2c; text-decoration: underline; }
.tab-button a {  padding: 11px 15px; box-shadow: 0 0 4px 3px #eaeaea; border: none;  margin-left: 5px;   text-decoration: none; font-family: 'HelveticaNeue'; font-size: 14px;  background: #4A154B; color: #fff; font-weight: normal; margin-right: 10px; border-radius: 2px; float: right; margin: 0; position: absolute; right: 30px; top: 18px; }
.category_mainwrap .postjob-details .postjob-inner h5.tab-button{padding: 25px 210px 25px 25px;position:relative;}
:host /deep/ .anchor-tag .mat-checkbox-layout {  white-space: normal; }
.mat-button.cancel-btn{ background-color: #DFE2E9; color: #000; }
:host /deep/ .postjob-inner .mat-button { border-radius: 2px; }
p.file-upload {  margin: 15px 0 0; vertical-align: top; color: #4A154B; }
.file-upload .material-icons { line-height: normal; font-size: 24px;  vertical-align: middle; color: #4A154B; margin-left: 5px; }
/* Input field outline design start*/


/* :host /deep/ .postjob-inner.postjob-three .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
    display: block;
}
:host /deep/ .postjob-inner label.mat-form-field-label.mat-form-field-label.mat-form-field-label {
    display: block;
} */
/* :host /deep/ .postjob-inner .mat-form-field-appearance-outline .mat-form-field-outline {
    top: 5px;
/* } */

/*:host /deep/ .postjob-inner .mat-form-field {
    padding-top: 0;
}
:host /deep/ .postjob-inner .mat-form-field-appearance-outline .mat-form-field-label {
    top: 1.84375em;
    margin-top: -.25em;
    left:-5px;
}
:host /deep/ .postjob-inner .mat-form-field-label mat-label {
    padding-left: 7px;
    padding-right: 7px;
}
:host /deep/ .postjob-inner .mat-form-field-should-float .mat-form-field-label {
    min-height: 22px;
}
:host /deep/ .postjob-inner .mat-select {
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding: 10px 20px;
}
:host /deep/ .postjob-inner .ng-select .ng-select-container {
    min-height: 25px;
}
:host /deep/ .postjob-inner .skills_block .ng-select {
    padding: 7px 10px 7px !important;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
}*/
/* :host /deep/ .postjob-inner .mat-form-field-appearance-outline .mat-select-arrow-wrapper {transform: none;}
:host /deep/ .postjob-inner .mat-select-arrow-wrapper {vertical-align: middle;}
:host /deep/ .postjob-inner .mat-form-field-infix.mat-form-field-infix .mat-select {font-size: 16px;font-weight: 400;}
:host /deep/ .postjob-inner .mat-expansion-panel-header-title { font-size: 16px;font-family: 'HelveticaNeue-medium';}*/
:host /deep/ .postjob-inner .mat-form-field-infix.mat-form-field-infix {
    padding: 1em 0 1em 0 !important;
}
:host /deep/ .postjob-inner .mat-form-field-wrapper {padding-bottom: 0;margin: 0;} 

.postjob-inner .mat-expansion-panel .form-group label {font-size: 16px;}
.postjob-inner label{margin-bottom:0; }
.postjob-inner .input-field-margin{margin-top:20px;}
.postjob-inner .mat-expansion-panel {padding-bottom: 7px;}
.bottom-btn button {margin: 10px 15px 0 0;}
.form-group.radio-style {margin-bottom: 0;}
:host /deep/ .postjob-inner .mat-form-field-suffix .mat-icon-button {width: 20px !important;height: 20px !important;}
:host /deep/ .postjob-inner .mat-form-field-suffix .mat-datepicker-toggle-default-icon {width: 18px !important;height: 18px !important;}
/* Input field outline design end*/



/* Reduce spacing issue start */
.stepthree-section .form-group:last-child {
    margin-bottom: 0;
}
.stepthree-section .form-group.radio-style:last-child .mat-radio-button {
    margin-bottom: 0;
}
.postjob-fulldesc .postjob-details:last-child {
    padding-bottom: 0 !important;
}
.category_mainwrap .postjob-details .postjob-inner.postjob-three:last-child {
    margin-bottom: 0;
}
.content-section .form-group:last-child {
    margin-bottom: 0;
}
/* Reduce spacing issue end*/
/* dropdown list design  start*/
.skills_block {
    border: 0 solid #ced0da;
    width: 100%;
    display: block;
    padding:0;
}
:host /deep/ .skills_block .ng-select .ng-select-container::after {
    border-bottom: 0 solid rgba(0,0,0,0.42) !important;
}
:host /deep/ .skills_block .ng-value-container {
    border: 0 solid rgba(0,0,0,.15);
}
:host /deep/ .skills_block .ng-value-container {
    border-top: 0 !important;
    padding: 4px 7px 4px !important;
}
:host /deep/ .skills_block .ng-select .ng-select-container .ng-value-container .ng-input > input {
    caret-color: transparent;
}
:host /deep/ .postjob-details .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
    color: #4A154B;
}
:host /deep/ .postjob-details .ng-select.ng-select-focused .ng-arrow-wrapper .ng-arrow {
    color: #ae2838 !important;
}
:host /deep/ .postjob-details .ng-select.ng-select-single .ng-select-container .ng-arrow-wrapper {
    bottom: 5px;
}
:host /deep/ .postjob-details .ng-select.ng-select-single .ng-select-container .ng-clear-wrapper {
    bottom: 5px;
}

/* dropdown list design  end*/

:host /deep/ .postjob-inner .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
    top: 36px;
}
:host /deep/ .postjob-inner .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    top: 36px;
}
:host /deep/ .postjob-inner .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label  mat-label {
    background-color: #fff;
    display: inline-block;
}
:host /deep/ .postjob-inner .mat-radio-label {
    white-space: normal;
}
.category_mainwrap .postjob-details .postjob-inner h5.tab-button{
    padding: 25px 210px 25px 25px;
    position:relative;
}
.action-group{
    padding: 20px 30px;
}
.freelancer-data .mat-button.menu-btn {
    position: absolute;
    right: 5px;
    text-decoration: none;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: #4A154B;
    max-width: 33px;
    max-height: 33px;
    min-width: 33px;
    line-height: 33px;
    color: #FFF;
    font-size: 20px;
    vertical-align: middle;
    padding: 0;
}
.freelancer-data .mat-button.menu-btn:hover, .freelancer-data .mat-button.menu-btn:active {
    -webkit-transition: all .3s;
    transition: all .3s;
    outline: none;
    -webkit-box-shadow: 0 2px 10px 1px rgba(57,73,76,0.4),0 1px 2px rgba(57,73,76,0.25);
    box-shadow: 0 2px 10px 1px rgba(57,73,76,0.4),0 1px 2px rgba(57,73,76,0.25);
}
.mat-table {
    width: 100%;
    max-width: 100%;
}
.row-blk{
    width:100%;
}
:host /deep/ .mat-tab-block .mat-tab-body-content {
    padding: 20px 30px 0;
}
:host /deep/ .mat-tab-block .mat-tab-labels .mat-tab-label {
    padding: 0 30px;
    font-family: 'HelveticaNeue';
    display: inline-block;
    height: 50px;
    padding: 12px 15px;
    background-color: #4A154B;
    border-radius: 0;
    color: #d9abaf;
    opacity: 1;
}
:host /deep/ .mat-tab-block .mat-tab-labels .mat-tab-label.mat-tab-label-active {
    color: #fff;
    border-bottom: 4px solid #fff;
}
:host /deep/ .mat-tab-block .mat-tab-labels .mat-tab-label:hover {
    color: #fff;
}
.mat-table .mat-header-cell {
    font-size: 16px;
    color: #343434;
    font-family: 'HelveticaNeue-Medium';
    vertical-align: middle;
    padding:10px;
}
.mat-table tr.mat-header-row {
    border: 1px solid rgba(0,0,0,.12);
}
.bottom-btn {
    padding-top: 0;
}
:host /deep/ .menu-btn .mat-button-wrapper {
    position: relative;
    top: -5px;
}
:host /deep/ .mat-tab-block.mat-primary .mat-ink-bar {
    background-color: transparent;
    height: 0;
}
:host /deep/ .mat-tab-block{
    padding-top:10px;
}
.milestone-table{
    margin-bottom:20px;
}
:host /deep/ .mat-form-field-suffix .mat-icon-button {
    padding-top: 3px;
}
:host /deep/ .mat-tab-list .mat-tab-label-content {
    font-size: 16px;
}
.amount span {
    font-size: 16px;
    width:80%;
    color: #7B7B7B;
}
.amount .title-span {
    font-family: 'HelveticaNeue-medium';
    padding-right: 8px;
width: 20%;
display: inline-block;
color: #292b2c;
}
.button-row{
    padding-top:10px;
}
::ng-deep .menu-dropdown .mat-menu-content {
    padding: 0 !important;
}
.example-container.mat-elevation-z8 {
    box-shadow: none;
}
.action-group .mat-button,.bottom-btn .mat-button.white-btn {
    border: 1px solid #EAEBEC;
    color: #AE2838 !important;
    background-color: #fff;
    box-shadow: 0 0 5px #d5d5d5;
    border-radius: 5px;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}
@media(max-width:992px){
.profile-img {
    width: 18%;
}
.profile-name{
    width: 82%;
}
}
@media(max-width:767px){
.profile-img img {
    width: 60px;
    height: 60px;
}
.category_mainwrap .postjob-details .postjob-inner .content-section {
    padding: 20px 15px;
}
.category_mainwrap .postjob-details .postjob-inner h5 {
    padding: 20px 15px;
}
.category_mainwrap .postjob-details .postjob-inner h5.tab-button{
    padding: 60px 15px 20px;
}
.amount span {
    font-size: 14px;
    width:60%;
}
.amount .title-span {
    width: 30%;
}
.profile-name h3 {
    font-size: 16px;
}
.example-container{
    min-width:1100px;
}
.action-group .mat-button {
    margin: 4px 4px;
}
}
@media(max-width: 480px)
{
.category_mainwrap .postjob-details .postjob-inner .content-section.steptwo-section {
    width: 100%;
    display: inline-block;
}
:host /deep/ .steptwo-section .mat-radio-button {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    padding: 0;
}
:host /deep/ .steptwo-section .mat-radio-label{font-size: 12px;    padding: 3px 15px;}
:host /deep/ .steptwo-section .mat-radio-button:last-child {
    margin-bottom: 15px;
    padding: 0;
    width: 100%;
}
.profile-name{
    width: 80%;
}
.profile-img {
    width: 20%;
}
.profile-img img {
    width: 50px;
    height: 50px;
}
.amount span {
    font-size: 14px;
    width:65%;
}
.amount .title-span {
    width: 35%;
}
}
/* Milestone detail page design end */