<section class="">
    <div class="admin-container">
      <div class="container-fluid">
        <div class="row">
  
              <div class="hpanel">
                <div class="panel-heading clearfix">
                    <div class="pull-left page-title"><h4>Add Jobs</h4></div>
                    <div class="pull-right page-crumb"><h4>Dashboard | Add Jobs</h4></div>
                </div>
  
              <div class="panel-body">
                <div class="">

                  <div class="form-block">
                    <div class="form-title">
                      <h4>General Information</h4>
                    </div>

                    <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                          <label>Job Title</label>
                            <input type="text" class="form-control" matInput placeholder="Job Title">
                        </div>
                      </div>

                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        <label>Job Category</label>
                          <mat-select class="form-control" placeholder="Select Cetegory">
                            <mat-option value="">None</mat-option>
                            <mat-option value="free">free</mat-option>
                            <mat-option value="option">Option</mat-option>
                            <mat-option value="paid">paid</mat-option>
                          </mat-select>
                      </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                          <label>Job Category</label>
                            <mat-select class="form-control" placeholder="Select Cetegory">
                              <mat-option value="">None</mat-option>
                              <mat-option value="free">free</mat-option>
                              <mat-option value="option">Option</mat-option>
                              <mat-option value="paid">paid</mat-option>
                            </mat-select>
                        </div>
                    </div>
                    </div>
                    </div>
                  </div>

                  <div class="form-block">
                      <div class="form-title">
                        <h4>Location</h4>
                      </div>

                      <div class="container-fluid">
                      <div class="row">
  
                      <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                          <label>City</label>
                          <mat-select class="form-control" placeholder="Select Cetegory">
                              <mat-option value="">None</mat-option>
                              <mat-option value="free">free</mat-option>
                              <mat-option value="option">Option</mat-option>
                              <mat-option value="paid">paid</mat-option>
                            </mat-select>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                          <label>State</label>
                          <input type="text" matInput class="form-control" placeholder="State">
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-12">
                          <div class="form-group">
                            <label>House & Street</label>
                            <input type="text" matInput class="form-control" placeholder="eg. street 2580">
                          </div>
                      </div>
  
                      <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                          <label>Zip Code</label>
                          <input type="text" matInput class="form-control" placeholder="eg. 170256">
                        </div>
                      </div>

                      </div>
                      </div>
                  </div>

                  <div class="form-block">
                      <div class="form-title">
                        <h4>About Company</h4>
                      </div>
  
                      <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-6 col-sm-12">
                          <div class="form-group">
                            <label>About Company</label>
                            <textarea matInput rows="6" class="form-control" placeholder="Description"></textarea>
                          </div>
                        </div>
  
                      <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                          <label>Company Logo</label>
                          <div class="company-logo">
                              <div class="drag-drop">
                                  <i class="material-icons">save_alt</i>
                                <p>Drag and drop here</p>
                              </div>
                          </div>
                        </div>
                      </div>
  
                      <div class="col-md-4 col-sm-12">
                          <div class="form-group">
                            <label>Website</label>
                            <input type="text" matInput class="form-control" placeholder="www.yoursite.com">
                          </div>
                      </div>

                      <div class="col-md-4 col-sm-12">
                          <div class="form-group">
                            <label>Call</label>
                            <input type="text" matInput class="form-control" placeholder="+91 012 345 678">
                          </div>
                      </div>

                      <div class="col-md-4 col-sm-12">
                          <div class="form-group">
                            <label>Mail</label>
                            <input type="text" matInput class="form-control" placeholder="example@mail.com">
                          </div>
                      </div>

                      </div>
                      </div>
                    </div>


                    <div class="form-btn">
                      <button mat-button>Submit</button>
                    </div>

                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>