<div>
    <div class="model_main">
        <div class="modal-header">
            <h3 mat-dialog-title class="modal-title">Are you sure you want to close?</h3>
        </div>
        <div class="modal-body">
            <div class="profile-leftblock">
                <div class="container delete-popup">

                    <div mat-dialog-actions>
                        <button class="save-btn" mat-button [mat-dialog-close]="1" (click)="confirm()">Yes</button>
                        <button class="cancel-btn" mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>